<div class= "card-body">
  <main>
    <div class="row justify-content-center">
      <div class="">
        <div class="card mt-2">
          <%= link_to collaborators_backoffice_xml_files_path, class:"card-header bg-primary" do %>
            <h4 >XML</h4>
          <% end %>
        </div>
        criar tabs / Fornecedor / Itens / fatura
        <div>
          <div>
            <div class="dataTable-wrapper dataTable-loading sortable searchable fixed-columns">
              <div class="">
                <%= @xml_file.name %>

                <%= form_tag new_collaborators_backoffice_produtoxml_path, method: :post do %>
                  
                  <% xml_content = File.read(ActiveStorage::Blob.service.path_for(@xml_file.file.key), encoding: 'UTF-8')
                  xml_doc = Nokogiri::XML(xml_content) %>

                  <% det_elements = xml_doc.xpath('//*[local-name()="det"]') %>

                  <% det_elements.each do |pr| %>
                    <table id="datatablesSimple" class="dataTable-table" style="height: 100px;" >
                      <thead>
                        <tr>
                          <th data-sortable="" style="width: 50%;"><a class="dataTable-sorter">Fornecedor</a></th>
                          <th data-sortable="" style="width: 50%;"><a class="dataTable-sorter">Sistema</a></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="align-middle">
                          
                            Cod emissor: <%= pr.at("cProd")&.text if pr.at("cProd")&.text || 0 %><br>
                            Nome: <%= pr.at("xProd")&.text.truncate( 35 ) if pr.at("xProd")&.text || 0%><br>
                            Unidade Medida: <%= pr.at("uCom")&.text.truncate( 35 ) if pr.at("uCom")&.text || 0%><br>
                            Quantidade: <%= pr.at("qCom")&.text.truncate( 35 ) if pr.at("qCom")&.text || 0%><br>
                            Valor:<%= pr.at("vProd")&.text if pr.at("vProd")&.text || 0 %><br>
                            Desconto:<%= pr.at("vDesc")&.text if pr.at("vDesc")&.text || 0 %><br>
                            NCM:<%= pr.at("NCM")&.text if pr.at("NCM")&.text || 0 %><br>
                            CFOP:<%= pr.at("CFOP")&.text if pr.at("CFOP")&.text || 0 %><br>
                          
                          </td>
                          <td class="align-middle">
                            <% codEmissor = pr.at("cProd")&.text if pr.at("cProd")&.text || 0 %>
                            <% xmlProds = Produtoxml.where(codproemissor: codEmissor, pessoa: @xml_file.pessoa).order(:codigo) %>
                            <% xmlProd = nil %>
                            <% if xmlProds
                              xmlProds.each do |item|
                                if item.nome.downcase.gsub(/\s+/, '') == pr.at("xProd")&.text.downcase.gsub(/\s+/, '')
                                  xmlProd = item;
                                  break
                                end
                              end
                            end %>

                            <% unless xmlProd.nil? %>
                              Trocar Produto<br>
                              
                              <%= render partial: "produtoXml_fields", locals: { f: xmlProd } %>

                              Quantidade: <%= pr.at("qCom")&.text.truncate( 35 ) if pr.at("qCom")&.text || 0%><br>
                              Valor: <%= pr.at("vProd")&.text if pr.at("vProd")&.text || 0 %><br>
                              Desconto:<%= pr.at("vDesc")&.text if pr.at("vDesc")&.text || 0 %><br>
                              NCM:<%= pr.at("NCM")&.text if pr.at("NCM")&.text || 0 %><br>
                              CFOP:<%= pr.at("CFOP")&.text if pr.at("CFOP")&.text || 0 %><br>

                            <% else %>
                            <%# criar um modal para criar novo item %>
                              Adicionar / MODAL<nr>
                              Vincular
                            <% end %>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                  <% end %>
                  
                  <%= submit_tag "Salvar" %>

                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<script>
// remove a ação padrao do enter que é salvar
document.addEventListener("keypress", function () { 
      console.log("-- "+event.key); // se eu clicar 'p' vai me retornar 'p' ao contrário do keycode que retorna o código da tecla
      if(event.keyCode == 13){ // 13 é o Enter
          event.preventDefault();
      }
  });
</script>


<%# 
WITH resultado_estoquereal AS (
  SELECT
    e.cod_produto,
    e.cod_cor,
    p.nome,
    c.nmcor,
    e.quantidade,
    function_estoquereal(e.cod_empresa, e.cod_produto, e.cod_cor) AS est_real
  FROM
    empresaproduto AS e
    JOIN produto AS p ON p.cod_produto = e.cod_produto
    JOIN cores AS c ON c.cod_cor = e.cod_cor
  WHERE
    e.cod_empresa = 5
)
SELECT
  cod_produto,
  cod_cor,
  nome,
  nmcor,
  quantidade
--  est_real
FROM
  resultado_estoquereal
WHERE
  quantidade != 0  -- OR est_real != 0
ORDER BY
  nome;
   %>