
<div class="card mt-4">

        <%= link_to edit_collaborators_backoffice_empresa_estoque_path(@estoque.first.id), class:"card-header bg-primary" do %>
          <h4 class:"card-header" >Estoque</h4>
        <% end %>
    
        <div class="card-body">
          <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">

            <div class="dataTable-container">

              <table id="datatablesSimple" class="dataTable-table table-striped">
                <thead>
                  <tr>
                    <th data-sortable="" style="width: 3%;">Emp..</th>
                    <th data-sortable="" style="width: 7%;">Codigo</th>
                    <th data-sortable="">Nome</th>
                    <th data-sortable="" style="width: 20%;">Cor</th>
                    <th data-sortable="" style="width: 7%;">Qtd</th>
                    <th data-sortable="" style="width: 8%;">Vl Venda</th>

                    <% if current_collaborator.funcionario.permissao.nivel == 1 %>
                      <th data-sortable="" style="width: 8%;">Custo</th>
                      <th data-sortable="" style="width: 55px;">Grava</th>
                      <% end %>
                  </tr>
                </thead>
                
                <tbody>
                  <% @estoque.each do |estoque| %>
                    <tr>
                      <td class="align-middle text-center"><%= estoque.cod_empresa %> </td>
                      <td class="align-middle "><%= estoque.full_codigo %> </td>
                      <td class="align-middle "><%= estoque.produto.nome %> </td>
                      <td class="align-middle "><%= estoque.cor.nmcor %> </td>
                      <td class="align-middle "><%= estoque.quantidade.to_i %> </td>

                      <td class="align-middle "><%= "R$ #{number_to_currency(estoque.valorvenda, separator: ",", delimiter: "", unit:"")}" %> </td>

                      <% if current_collaborator.funcionario.permissao.nivel == 1 %>

                      <td class="align-middle fw-semibold"><%= "R$ #{number_to_currency( estoque.ultimocusto, separator: ",", delimiter: "", unit:"")}" %> </td>
                        <td class="align-middle">

                          <div class="dropdown" >
                            <button type="button" class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false",  style="width: 35px; ">
                              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>

                            <ul class="dropdown-menu position-absolute" style="width: 50px;">                                
                              <li>
                                <%= link_to edit_collaborators_backoffice_empresa_estoque_path(estoque), 
                                      class:"btn btn-danger btn-circle", data: {confirm: "Deseja remover estoque empresa?"} do %>
                                  <i class="fa fa-minus" style="width: 35px;"></i>Editar 
                                <% end %>
                              </li>
                              <li>
                                <%= link_to collaborators_backoffice_empresa_estoque_path(estoque), method: :delete, 
                                      class:"btn btn-danger btn-circle", data: {confirm: "Deseja remover estoque empresa?"} do %>
                                  <i class="fa fa-minus" style="width: 35px;"></i>Remover 
                                <% end %>
                              </li>
                            </ul>
                          <div>
                        </td> 
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
        
        
    </div>
</div>