<div class="card mt-2">
  <%= link_to collaborators_backoffice_empresa_estoque_index_path, class:"card-header text-center bg-primary text-white" do %>
    <h3>Estoque</h3>
  <% end %>
  <div class="card-body">
    <% somaCusto = 0 %>
    <% somaVenda = 0 %>
    <%= form_with(url: collaborators_backoffice_empresa_estoque_index_path, local: true, method: :get, class:"dataTable-search") do |form| %>
      <div class="row g-2 align-items-start">
        <!-- Bloco de Filtros (esquerda) -->
        <div class="col-md-9">
          <!-- Primeira linha -->
          <div class="row g-1">
            <div class="col-md-1">
              <%= select_tag :per_page, options_for_select([30, 40, 70, 150, "Todas"], params[:per_page]), onchange: 'this.form.submit()', class: "form-control" %>
            </div>
            <div class="col-md-2">
              <%= form.text_field :cod_empresa, value: params[:cod_empresa], class:"form-control", placeholder:"Empresa..." %>
            </div>
            <div class="col-md-6">
              <%= form.text_field :term, value: params[:term], class:"form-control", placeholder:"Código/Nome produto..." %>
            </div>
          </div>
          <!-- Segunda linha -->
          <div class="row g-1 mt-2 mb-2">
            <div class="col-md-3">
              <%= form.collection_select(:cod_grupo, Grupo.where(ativo: true).order(:cod_grupo), :cod_grupo, :nomegrupo, 
                                     { include_blank: 'Grupo', selected: params[:cod_grupo] }, 
                                     class: "form-control") %>
            </div>
            <div class="col-md-3">
              <%= form.collection_select(:cod_marca, Marca.order(:cod_marca), :cod_marca, :nome, 
                                     { include_blank: 'Marca', selected: params[:cod_marca] }, 
                                     class: "form-control") %>
            </div>
            <div class="col-md-3 d-flex align-items-center gap-2">
              <% checked = params[:contem] == '1' %>
              <%= form.check_box :contem, checked: checked, class: "btn-check", id: "contem-checkbox" %>
              <label class="btn btn-outline-primary estoque-label flex-grow-1" for="contem-checkbox">
                Com Estoque
              </label>
              <button type="submit" class="btn btn-success flex-grow-1">
                Buscar
              </button>
              <% if current_collaborator.funcionario.permissao.nivel == 1 %>
                <button id="export-excel" class="btn btn-success flex-grow-1" data-filename="<%= "relatorio" %>.xlsx">
                  Excel
                </button>
              <% end %>
            </div>
          </div>
        </div>
        <!-- Bloco de Totais (direita) -->
        <% if current_collaborator.funcionario.permissao.nivel == 1 %>
          <div class="col-md-3 d-flex align-items-center justify-content-center">
            <div class="d-flex flex-row justify-content-center gap-3">
              <div class="form-floating">
                <%= form.text_field :valorVenda, class: "money2 text-bg-info form-control", readonly: true %>
                <%= form.label :valorVenda, "Valor Venda" %>
              </div>
              <div class="form-floating">
                <%= form.text_field :valorCusto, class: "money2 text-bg-warning form-control", readonly: true %>
                <%= form.label :valorCusto, "Custo" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="dataTable-container">
      <table id="report-stock" class="table table-bordered table-striped table-hover table-sm">
        <thead class="table-primary">
          <tr>
            <th data-sortable="true" style="width: 3%;">Emp..</th>
            <th data-sortable="true" style="width: 7%;">Codigo</th>
            <th data-sortable="true">Nome</th>
            <th data-sortable="true" style="width: 20%;">Cor</th>
            <th data-sortable="true" style="width: 7%;">Qtd</th>
            <th data-sortable="true" style="width: 8%;">Vl Venda</th>
            <% if [1, 2].include?(current_collaborator.funcionario.permissao.nivel) %>
              <% if (current_collaborator.funcionario.permissao.nivel) == 1 %>
                <th data-sortable="true" style="width: 8%;">Custo</th>
              <% end %>
              <th data-sortable="true" style="width: 55px;">...</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @empresa_produtos.each do |estoque| %>
            <tr>
              <td class="align-middle text-center"><%= estoque.cod_empresa %> </td>
              <td class="align-middle "><%= estoque.full_codigo %> </td>
              <td class="align-middle "><%= estoque.produto.nome %> </td>
              <td class="align-middle "><%= estoque.cor.nmcor %> </td>
              <td class="align-middle "><%= estoque.quantidade.to_i %> </td>
              <td class="align-middle "><%= "R$ #{number_to_currency(estoque.valorvenda, separator: ",", delimiter: "", unit:"")}" %> </td>
              <% if (current_collaborator.funcionario.permissao.nivel) == 1 %>
                <% if estoque.quantidade > 0 %>
                  <% somaCusto += (estoque.ultimocusto.to_f * estoque.quantidade.to_i) %>
                  <% somaVenda += (estoque.valorvenda.to_f * estoque.quantidade.to_i) %>
                <% end %>
                <td class="align-middle fw-semibold"><%= "R$ #{number_to_currency( estoque.ultimocusto, separator: ",", delimiter: "", unit:"")}" %> </td>
              <% end %>
              <% if [1, 2].include?(current_collaborator.funcionario.permissao.nivel) %>
                <td class="align-middle">
                  <div class="dropdown">
                    <button type="button" class="btn btn-sm" id="dropdownMenuButton<%= estoque.id %>" data-bs-toggle="dropdown" aria-expanded="false" style="width: 35px;">
                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton<%= estoque.id %>">
                      <li>
                        <%= link_to edit_collaborators_backoffice_empresa_estoque_path(estoque.cod_produto, "produto"), 
                                          class: "dropdown-item text-primary", 
                                          data: { confirm: "Deseja editar o valor do Produto?" } do %>
                          <i class="fas fa-edit me-2"></i> Editar
                        <% end %>
                      </li>
                      <li>
                        <%= link_to collaborators_backoffice_empresa_estoque_path(estoque), 
                                          method: :delete, 
                                          class: "dropdown-item text-danger", 
                                          data: { confirm: "Deseja desativar do estoque da empresa?" } do %>
                          <i class="fas fa-trash me-2"></i> Remover
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if @empresa_produtos.respond_to?(:total_pages) %>
      <div class="dataTable-bottom">
        <div class="dataTable-info"><%= page_entries_info @empresa_produtos, entry_name: 'item' %></div>
        <div class = "text-center">
          <%= paginate @empresa_produtos %>
        </div>
      </div>
    <% else %>
      <div class="dataTable-bottom mb-9">
        <div class="dataTable-info">
          <h5>Exibindo <%= @empresa_produtos.size %> registros</h5>
        </div>
        <div class = "text-center">
        </div>
      </div>
    <% end %>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script>
  $(document).ready(function() {
    var contemCheckbox = $('#contem-checkbox');
    var estoqueLabel = $('.estoque-label');

    // Restaurar o estado do checkbox ao recarregar a página
    var storedState = localStorage.getItem('contemCheckboxChecked');
    if (storedState !== null) {
      contemCheckbox.prop('checked', storedState === 'true');
      updateLabel();
    }

    contemCheckbox.change(function() {
      updateLabel();

      // Salvar o estado do checkbox no armazenamento local
      localStorage.setItem('contemCheckboxChecked', $(this).prop('checked'));
    });

    function updateLabel() {
      var novoTexto = contemCheckbox.prop('checked') ? 'Com Estoque' : 'Sem Estoque';
      estoqueLabel.text(novoTexto);
    }
  });

  function formatarReal(valor) {
    return valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
  }
  // Atualizar o conteúdo do elemento com ID "valortotal" com a soma formatada como reais
  document.getElementById("valorCusto").value = formatarReal(<%= somaCusto %>);
  document.getElementById("valorVenda").value = formatarReal(<%= somaVenda %>);
  document.addEventListener('DOMContentLoaded', function() {
      $('#report-stock').DataTable({
        "paging": false,  // Desabilita a paginação
        "searching": false, // Permite a pesquisa na tabela (opcional)
        "ordering": true,  // Habilita ordenação nas colunas (opcional)
        "info": false}); // Habilita ordenação nas colunas (opcional)
    });

  document.addEventListener("DOMContentLoaded", function () {
    const btn = document.getElementById("export-excel");
    if (btn) {
      btn.addEventListener("click", function () {
        const table = document.querySelector("table");
        if (!table) return alert("Tabela não encontrada!");

        const filename = btn.getAttribute("data-filename") || "relatorio.xlsx";
        const wb = XLSX.utils.table_to_book(table, { sheet: "Relatório" });
        XLSX.writeFile(wb, filename);
      });
    }
  });
</script>