
<div class="card mt-4">

        <%= link_to collaborators_backoffice_empresa_estoque_index_path(:contem == false), class:"card-header" do %>
          <h4>Estoque</h4>
      <% end %>
    
    <div class="card-body">
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                
                <%= form_with(url: collaborators_backoffice_empresa_estoque_index_path, local: true, method: :get, 
                                    class:"col dataTable-search col-md-6") do |form| %>

                  <div class="d-flex mb-2 ">

                    <div class="col-md-1">
                      <div class="mb-2">
                          <%= form.text_field :cod_empresa, value: params[:cod_empresa], class:"text dataTable-input", placeholder:"Codigo empresa..." %>
                      </div> 
                    </div>

                    <div class="col-md-8">
                      <div class="mb-2">
                          <%= form.text_field :term, value: params[:term], class:"text dataTable-input", placeholder:"Nome produto..." %>
                      </div> 
                    </div>

                    <div class="col-md-8">
                      <div class="mb-2">

                        <% checked = params[:contem] == '1' ? true : false %>
                        <%= form.check_box :contem, checked: checked, class: "btn-check", id: "contem-checkbox", type: "checkbox" %>
                        <label class="btn btn-outline-primary estoque-label" for="contem-checkbox"></label>

                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                        <script>
                          $(document).ready(function() {
                            var contemCheckbox = $('#contem-checkbox');
                            var estoqueLabel = $('.estoque-label');

                            // Restaurar o estado do checkbox ao recarregar a página
                            var storedState = localStorage.getItem('contemCheckboxChecked');
                            if (storedState !== null) {
                              contemCheckbox.prop('checked', storedState === 'true');
                              updateLabel();
                            }

                            contemCheckbox.change(function() {
                              updateLabel();

                              // Salvar o estado do checkbox no armazenamento local
                              localStorage.setItem('contemCheckboxChecked', $(this).prop('checked'));
                            });

                            function updateLabel() {
                              var novoTexto = contemCheckbox.prop('checked') ? 'Com Estoque' : 'Sem Estoque';
                              estoqueLabel.text(novoTexto);
                            }
                          });
                        </script>

                        <button type="submit" class="btn btn-success btn-circle">Buscar</button>
                      </div>
                    </div>
                  </div>

                <% end %>

              <div class="dataTable-container">

              <table id="datatablesSimple" class="dataTable-table table-striped">
                <thead>
                  <tr>
                    <th data-sortable="" style="width: 7%;">Codigo</th>
                    <th data-sortable="">Nome</th>
                    <th data-sortable="" style="width: 20%;">Cor</th>
                    <th data-sortable="" style="width: 7%;">Qtd</th>
                    <th data-sortable="" style="width: 7%;">Empresa</th>
                    <th data-sortable="" style="width: 8%;">Vl Venda</th>

                    <% if current_collaborator.funcionario.permissao.nivel == 1 %>
                      <th data-sortable="" style="width: 8%;">Custo</th>
                      <th data-sortable="" style="width: 55px;">Desativar</th>
                      <% end %>
                  </tr>
                </thead>
                
                <tbody>
                  <% @empresa_produtos.each do |estoque| %>
                    <tr>
                      <td class="align-middle fw-semibold"><%= estoque.full_codigo %> </td>
                      <td class="align-middle fw-semibold"><%= estoque.produto.nome %> </td>
                      <td class="align-middle fw-semibold"><%= estoque.cor.nmcor %> </td>
                      <td class="align-middle fw-semibold"><%= estoque.quantidade.to_i %> </td>
                      <td class="align-middle fw-semibold"><%= estoque.cod_empresa %> </td>
                      <td class="align-middle fw-semibold"><%= number_to_currency estoque.valorvenda %> </td>

                      <% if current_collaborator.funcionario.permissao.nivel == 1 %>
                      <td class="align-middle fw-semibold"><%= number_to_currency estoque.ultimocusto %> </td>
                        <td class="align-middle">
                          <%= link_to collaborators_backoffice_empresa_estoque_path(estoque), method: :delete, 
                                      class:"btn btn-danger btn-circle", data: {confirm: "Deseja remover estoque empresa?"} do %>
                            <i class="fa fa-minus"></i>
                          <% end %>
                        </td> 
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
        </div>
        
        <div class="dataTable-bottom">
          <div class="dataTable-info"><%= page_entries_info @empresa_produtos, entry_name: 'item' %></div>
              <div class = "text-center">
                <%= paginate @empresa_produtos %>
              </div>
          </div>
        </div>
        
    </div>
</div>