<div class="card mt-3">
  <div class="card-header bg-primary d-flex align-items-center">
    <%= link_to collaborators_backoffice_report_put_box_index_path do %>
      <h4 class="text-white mb-0">Relatorio de Lançamentos de Caixa</h4>
    <% end %>
    <div class="ms-auto">
      <button class="btn btn-light", data-bs-toggle="modal", data-bs-target="#modalLancamento">
        <i class="fa fa-plus"></i> Lançamentos de Caixa
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="">
      <div class="dataTable-top">
        <%= form_with(url: collaborators_backoffice_report_put_box_index_path, local: true, method: :get, class: "mb-3") do |form| %>
          <div class="container-fluid">
            <div class="row g-1 align-items-center">
              <div class="col-auto" style="max-width: 80px;">
                <%= select_tag :per_page, options_for_select([30, 40, 70, 150, "Todas"], params[:per_page]), 
                      onchange: 'this.form.submit()', class: "form-select form-select-md" %>
              </div>
              <div class="col-auto">
                <%= form.text_field :cliente, class: "form-control form-control-md", 
                      value: params[:cliente], placeholder: "Cliente..." %>
              </div>
              <div class="col-auto">
                <%= form.text_field :dataInicial, 
                      value: params[:dataInicial].presence || Time.current.strftime("%d/%m/%Y"), 
                      class: "form-control form-control-md datepicker fallback", style: "width: 115px;", 
                      placeholder: "Data Inicial" %>
              </div>
              <div class="col-auto">
                <%= form.text_field :dataFinal, 
                      value: params[:dataFinal].presence || Date.today.end_of_month.strftime("%d/%m/%Y"), 
                      class: "form-control form-control-md datepicker", style: "width: 115px;", placeholder: "Data Final" %>
              </div>
              <div class="col-auto">
                <%= select_tag(:cod_historico, 
                      options_from_collection_for_select(
                      Tiposhistoricoscaixa.where(ativo: true).order(:cod_tphitorico), 
                      "cod_tphitorico", "descricao", params[:cod_historico]), include_blank: "Histórico",
                      class: "form-select form-select-md", style: "width: 150px;" ) %>
              </div>
              <div class="col-auto">
                <%= select_tag(:cod_operacao, 
                      options_for_select(get_operacao(), params[:cod_operacao]), 
                      include_blank: "Todos", class: "form-select form-select-md") %>
              </div>
              <% if current_collaborator.funcionario.permissao.nivel == 1 %>
                <div class="col-auto">
                  <%= form.collection_select(:cod_bancoconta, 
                        Bancoconta.where(ativo: true, cod_empresa: current_collaborator.cod_empresa).order(:cod_bancoconta), 
                        :cod_bancoconta, :nome_banco, 
                        { include_blank: 'CAIXA', selected: params[:cod_bancoconta] }, 
                        class: "form-select form-select-md", style: "width: 150px;") %>
                </div>
              <% end %>
              <div class="col-auto d-grid" style="width: 130px;">
                <button type="submit" class="btn btn-success btn-md">Buscar</button>
              </div>
              <div class="col-auto ms-auto d-flex gap-2">
                <div class="form-floating">
                  <%= form.text_field :valorEntradas, class: "form-control form-control-sm text-bg-info", 
                      readonly: true, id: "valorEntradas", style: "min-width: 120px;" %>
                  <%= form.label :valorEntradas, "Entradas" %>
                </div>
                <div class="form-floating">
                  <%= form.text_field :valorSaidas, class: "form-control form-control-sm text-bg-danger", 
                      readonly: true, id: "valorSaidas", style: "min-width: 120px;" %>
                  <%= form.label :valorSaidas, "Saídas" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="dataTable-container">
        <table id="datatablesSimple" class="dataTable-table ">
          <thead>
            <tr>
              <%# String columns[] = {"Tipo", "Empresa", "Operador", "Descricao", "Nr Parcela", "Cliente", "Dt Pagto", "Valor"}; %>
              <th data-sortable=""  style="width: 2%;"><a href="#" class="dataTable-sorter">Tp</a></th>
              <th data-sortable="" style="width: 2%;"><a href="#" class="dataTable-sorter">Emp</a></th>
              <th data-sortable="" style="width: 10%;"><a href="#" class="dataTable-sorter">Colaborador</a></th>
              <th data-sortable="" style="width: 18%;"><a href="#" class="dataTable-sorter">Historico</a></th>
              <th data-sortable="" style="width: 10%;"><a href="#" class="dataTable-sorter">Parcela</a></th>
              <th data-sortable=""><a href="#" class="dataTable-sorter">Cliente</a></th>
              <th data-sortable=""  style="width: 11.5%;"><a href="#" class="dataTable-sorter">Data Pagto</a></th>
              <th data-sortable="" style="width: 110px;">Valor Total</th>
              <th data-sortable="" style="width: 70px;">Excluir?</th>
            </tr>
          </thead>
          <tbody>
            <% somaEntradas = 0 %>
            <% somaSaidas = 0 %>
            <% @lauches.each do |lauch| %>
              <% if lauch.tipo == 'S' %>
                <tr class="text-warning">
                <% else %>
                  <% if lauch.tipo == 'E' && !lauch.cod_bancoconta.nil? %>
                    <tr class="text-info">
                    <% else %>
                      <tr class="">
                      <% end %>
                    <% end %>
                    <td class="align-middle"><%# NORMALMENTE RETIRADA QUE SAI COMO ENTRADA NA CONTA %>
                      <% if lauch.tipo == 'E' && !lauch.cod_bancoconta.nil? %>
                        S
                      <% else %>
                        <%= lauch.tipo %>
                      <% end %>
                    </td>
                    <td class="align-middle"><%= lauch.empresa.cod_empresa %> </td>
                    <td class="align-middle"><%= lauch.funcionario.usuario %> </td>
                    <td class="align-middle"><%= lauch.historico.descricao %></td>
                    <%# historico%>
                    <td class="align-middle"><%= lauch.nmParcela %> </td>
                    <td class="align-middle"><%= lauch.nmPessoa %></td>
                    <td class="align-middle"><%= post_datetime ((lauch.datapagto? ? lauch.datapagto : "")) %> </td>
                    <td class="align-middle"><%= number_to_currency( lauch.valor, separator: ",", delimiter: "", unit: "")  %></td>
                    <% if lauch.tipo == 'S' %>
                      <% somaSaidas += lauch.valor %>
                    <% else %>
                      <% if params[:cod_bancoconta].present? %>
                        <% if lauch.tipo == 'E' %>
                          <% somaEntradas += lauch.valor %>
                        <% else %>
                          <% somaSaidas += lauch.valor %>
                        <% end %>
                      <% else %>
                        <% if lauch.tipo == 'E' && lauch.cod_bancoconta.blank? %>
                          <% somaEntradas += lauch.valor %>
                        <% else %>
                          <% somaSaidas += lauch.valor %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <td class="align-middle">
                      <%# somente pode excluir o lançamento se for do mesmo caixa que esta aberto %>
                      <% if ((!lauch.caixa.nil? && !@caixa.nil? ) && (lauch.caixa.id === @caixa.id) ) %>
                        <%= link_to collaborators_backoffice_report_put_box_destroy_path(lauch), method: :delete, 
                                    class:"btn btn-danger btn-circle", data: {confirm: "Deseja remover Lancamento de caixa?"} do %>
                          <i class="fa fa-minus"></i>
                        <% end %>
                      <% else %>
                        <%# Se for funcionario nivel 1 liberado para remover porem se for de caixa diferente ele gera novo lancamento contra o primeiro %>
                        <% if current_collaborator.funcionario.permissao.nivel == 1 %>
                          <%= link_to collaborators_backoffice_report_put_box_destroy_path(lauch, params.permit!), method: :delete, 
                                      class:"btn btn-danger btn-circle", data: {confirm: "Deseja remover Lancamento de caixa?"} do %>
                            <i class="fa fa-minus"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="position-fixed bottom-0 end-0 m-4">
            <div class="d-block mb-2">
              <button class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center shadow-lg"
                      style="width: 60px; height: 60px;"
                      data-bs-toggle="modal"
                      data-bs-target="#modalLancamento">
                <i class="fa fa-plus fa-2x"></i>
              </button>
            </div>
          </div>
          <%= render partial: 'collaborators_backoffice/report/rep_put_box/shared/lancamentosdiverso_modal', locals: { action_message: 'Modal' } %>
          <% if @lauches.respond_to?(:total_pages) %>
            <div class="dataTable-bottom">
              <div class="dataTable-info"><%= page_entries_info @lauches, entry_name: 'item' %></div>
              <div class = "text-center">
                <%= paginate @lauches %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="dataTable-bottom">
            <div class="dataTable-info">
              <h5>Exibindo <%= @lauches.size %> registros</h5>
            </div>
            <div class = "text-center">
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <script>
      function formatarReal(valor) {
        return valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
      }
      // Atualizar o conteúdo do elemento com ID "valortotal" com a soma formatada como reais
      // document.getElementById("valorEntradas").value = formatarReal(<%= somaEntradas %>);
      // document.getElementById("valorSaidas").value = formatarReal(<%= somaSaidas %>);

      document.addEventListener("DOMContentLoaded", function() {
        function formatarReal(valor) {
          return valor.toLocaleString("pt-BR", { style: "currency", currency: "BRL" });
        }

        // Pega os inputs pelo ID
        let inputEntradas = document.getElementById("valorEntradas");
        let inputSaidas = document.getElementById("valorSaidas");

        if (inputEntradas && inputSaidas) {
          inputEntradas.value = formatarReal(<%= somaEntradas %>);
          inputSaidas.value = formatarReal(<%= somaSaidas %>);
        } else {
          console.warn("Os campos de entrada e saída não foram encontrados.");
        }
      });
    </script>