<div class="card mt-3">
  <%= link_to '#', class:"card-header bg-primary" do %>
    <h4 ><%= @report.title %></h4>
  <% end %>
  <div class="card-body">
    <% if current_collaborator.funcionario.super_admin? %>
      <%= link_to edit_collaborators_backoffice_report_custom_report_path( @report.id), class:"btn btn-info btn-circle", data: {confirm: "Deseja Editar?"} do %>
        <i class="fa fa-edit", style="width: 35px;"></i> Editar Relatório
      <% end %>
    <% end %>
    <h5 class="mt-3">
      <p class="text-muted"><%= @report.description %></p>
    </h5>
    <%= form_with url: run_collaborators_backoffice_report_custom_report_path(@report), method: :get, local: true, class: "row gx-3 gy-2 align-items-end mt-4" do |form| %>
      <% @report.sql_code.scan(/{{(.*?)}}/).flatten.uniq.each do |param| %>
        <% field_name = param.strip.downcase %>
        <% if field_name == 'inicio' %>
          <div class="col-auto">
            <%= form.label :inicio, "Data Inicial", class: "form-label" %>
            <%= form.text_field :inicio, value: (params[:inicio].presence || Time.now.strftime("%d/%m/%Y")),
              class: "form-control datepicker fallback", style: "width: 140px;" %>
          </div>
        <% elsif field_name == 'fim' %>
          <div class="col-auto">
            <%= form.label :fim, "Data Final", class: "form-label" %>
            <%= form.text_field :fim, value: (params[:fim].presence || Time.now.strftime("%d/%m/%Y")),
              class: "form-control datepicker fallback", style: "width: 140px;" %>
          </div>
        <% elsif field_name == 'cod_empresa' %>
          <div class="col-auto">
            <%= form.label :cod_empresa, "Empresa", class: "form-label" %>
            <%= select_tag(
              :cod_empresa, 
              options_from_collection_for_select(
                Empresa.where(ativo: true).order(:cod_empresa), 
                "cod_empresa", 
                "nome",
                params[:cod_empresa] || current_collaborator.empresa.try(:cod_empresa)
              ), 
              class: "form-control"
            ) %>
          </div>
        <% else %>
          <div class="col-auto">
            <%= label_tag param, param.humanize, class: "form-label" %>
            <%= text_field_tag param, params[param], class: "text form-control", placeholder: param.humanize, style: "width: 180px;", required: true %>
          </div>
        <% end %>
      <% end %>
      <div class="col-auto">
        <%= submit_tag "Executar Relatório", class: "btn btn-primary" %>
      </div>
    <% end %>
    <% if @results.present? %>
      <div class="table-responsive mt-3">
        <table id="report-custom", class="table table-bordered table-striped table-hover table-sm">
          <thead class="table-light">
            <tr>
              <th><%=  %></th>
              <% @results.columns.each do |col| %>
                <th data-sortable="true"><%= col.titleize %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% i = 0 %>
            <% @results.rows.each do |row| %>
              <% i = i+1 %>
              <tr>
                <td>
                  <%= i  %>
                </td>
                <% row.each do |value| %>
                  <td><%= value %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <button id="export-excel" class="btn btn-success mt-3" data-filename="<%= @report.title.parameterize.underscore %>.xlsx">
            Exportar para Excel
          </button>
          <iframe id="download_frame" name="download_frame" style="display:none;"></iframe>
        </div>
      <% elsif @error.present? %>
        <div class="alert alert-danger mt-3">
          <strong>Erro:</strong> <%= @error %>
        </div>
      <% end %>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const btn = document.getElementById("export-excel");
      if (btn) {
        btn.addEventListener("click", function () {
          const table = document.querySelector("table");
          if (!table) return alert("Tabela não encontrada!");

          const filename = btn.getAttribute("data-filename") || "relatorio.xlsx";
          const wb = XLSX.utils.table_to_book(table, { sheet: "Relatório" });
          XLSX.writeFile(wb, filename);
        });
      }
    });
    document.addEventListener('DOMContentLoaded', function() {
      $('#report-custom').DataTable({
        "paging": false,  // Desabilita a paginação
        "searching": true, // Permite a pesquisa na tabela (opcional)
        "ordering": true,   // Habilita ordenação nas colunas (opcional)
        "language": {
          "sProcessing":   "Processando...",
          "sLengthMenu":   "Mostrar _MENU_ registros por página",
          "sZeroRecords":  "Nenhum registro encontrado",
          "sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registros",
          "sInfoEmpty":    "Mostrando 0 até 0 de 0 registros",
          "sInfoFiltered": "(filtrado de _MAX_ registros no total)",
          "sInfoPostFix":  "",
          "sSearch":       "Buscar:",
          "sUrl":          "",
          "oPaginate": {
            "sFirst":    "Primeiro",
            "sPrevious": "Anterior",
            "sNext":     "Próximo",
            "sLast":     "Último"
        },
      }});
    });
  </script>