
<div class="card mt-4 ">

    <%= link_to collaborators_backoffice_report_sales_path, class:"card-header" do %>
        <h4>Relatorio Vendas</h4>
    <% end %>
    
    <div class="card-body">
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
          
              <%= form_with(url: collaborators_backoffice_report_sales_path, local: true, method: :get, 
                                    class:"col dataTable-search col-md-6") do |form| %>
                <div class="d-flex">
                  <div class="col-md-10">
                      <div class="mb-2">
                          <%= form.text_field :term, class:"dataTable-input", value:params[:term],placeholder:"Pessoa...", id:"text" %>
                      </div> 
                  </div>

                  <div class="col-md-3">
                    <div class="mb-2 ">
                      <%= form.text_field :dataInicial, value: ((!(params[:dataInicial]).blank? ? params[:dataInicial] : Time.now.strftime("%d/%m/%Y")  )),
                          class: "fallback dataTable-input datepicker", placeholder:"Data Inicial" %>
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="mb-2 ">
                      <%= form.text_field :dataFinal, value: ((!(params[:dataFinal]).blank? ? params[:dataFinal] : Date.today.end_of_month.strftime("%d/%m/%Y")  )),
                          class: "fallback dataTable-input datepicker", placeholder:"Data Final" %>
                    </div>
                  </div>

                  <div class="mb-2"><button type='submit', class="btn btn-success btn-circle">Buscar</button></div>
                  
                  <div class="mb-2">
                    <%= link_to new_collaborators_backoffice_venda_path,
                                class:"btn btn-success btn-circle", data: {confirm: "Nova Venda?"} do %>
                        <i class="fa fa-plus"></i>
                    <% end %>
                  </div>
                </div>
                
              <% end %>

            <div class="dataTable-container">

              <table id="datatablesSimple" class="dataTable-table">
                <thead>
                  <tr>
                    <th data-sortable=""  style="width: 10%;"><a href="#" class="dataTable-sorter">Data Venda</a></th>
                    <th data-sortable="" style="width: 10%;"><a href="#" class="dataTable-sorter">Empresa</a></th>
                    <th data-sortable=""><a href="#" class="dataTable-sorter">Cliente</a></th>
                    <th data-sortable="" style="width: 10%;"><a href="#" class="dataTable-sorter">NFe</a></th>
                    <th data-sortable=""><a href="#" class="dataTable-sorter">Colaborador</a></th>
                    <th data-sortable="" style="width: 150px;">Valor Total</th>
                    <th data-sortable="" style="">Info</th>
                  </tr>
                </thead>
                
                <tbody>
                    <% @sales.each do |sale| %>
                      <% if sale.cancelada %>
                        <tr class="" style="background-color: #FA625E;">
                      <% else %>
                        <tr class="">
                      <% end %>
                          <td><%= post_date (sale.datavenda? ? sale.datavenda : "") %> </td>
                          <td><%= sale.empresa.nome %> </td>
                          <td><%= sale.pessoa.nome %></td>
                          <td><%= sale.venda_nfe %> </td>
                          <td><%= sale.funcionario.usuario %> </td>
                          <td><%= number_to_currency( sale.valortotal, precision: 2)  %></td>

                          <td>
                            <button type="button" onclick="MudarEstado('minhaDiv<%= sale %>')" class = "btn btn-info btn-circle"><i class="fa fa-info"></i></button>
                          </td>

                        </tr>
                        <tr id="minhaDiv<%= sale %>" style="display: none;">
                          <td colspan="7">
                            <div class="dataTable-container">

                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th data-sortable=""  style="width: 2%;"><a href="#" class="dataTable-sorter">Pago?</a></th>
                                    <th data-sortable="" style="width: 12%;"><a href="#" class="dataTable-sorter">Colaborador</a></th>
                                    <th data-sortable="" style="width: 30px;"><a href="#" class="dataTable-sorter">Parcela</a></th>
                                    <th data-sortable=""><a href="#" class="dataTable-sorter">Cliente</a></th>
                                    <th data-sortable=""  style="width: 8.5%;"><a href="#" class="dataTable-sorter">Dt Venci..</a></th>
                                    <th data-sortable="" style="width: 110px;">Valor Total</th>
                                    <th data-sortable="" style="width: 110px;">Valor Pago</th>
                                    <th data-sortable="" style="width: 50px;">Lançamentos</th>
                                  </tr>
                                </thead>
                                
                                <tbody>
                                  <% sale.contas.order("numeroparcela").each do |bill| %>
                                      <% if (!bill.ativo) %>
                                          <tr class="nested-fields text-danger">
                                          <td><%= ("Cancelada") %> </td>
                                      <% elsif (bill.dtvencimento < DateTime.now && bill.quitada == false) %>
                                          <tr class="nested-fields ext-warning">
                                          <td><%= ("Vencida") %> </td>
                                      <% else %>
                                          <tr class="nested-fields">
                                          <td><%= (bill.quitada? ? "Liquidada" : "Aberto") %> </td>
                                      <% end %> 
                                      
                                      <td><%= bill.nmCollaborator %> </td>
                                      <td><%= bill.nmParcela %> </td>
                                      <td><%= bill.nmPessoa %> </td>
                                      <td><%= post_date ((bill.dtvencimento? ? bill.dtvencimento : "")) %> </td>
                                      <td><%= number_to_currency( bill.valorparcela, precision: 2)  %></td>
                                      <td><%= number_to_currency( bill.valorPago, precision: 2)  %></td>
                                      <td>
                                      
                                        <%# <% if !bill.quitada || bill.lancamentos.size == 0 % >

                                          <%= link_to collaborators_backoffice_contas_pag_rec_path(bill, 
                                              { :tipo_conta => tipe_bill_true(params[:tipo_conta]) , 
                                                :status_bill => params[:status_bill], 
                                                :nrVenda => params[:nrVenda], 
                                                :cliente => params[:cliente], 
                                                :dataInicial => params[:dataInicial], :dataFinal => params[:dataFinal]}),
                                                method: :put, class:"btn btn-success btn-circle", data: {confirm: "Deseja Liquidar a conta?"} do % >
                                              <i class="fa fa-check"></i>
                                          <% end %>
                                          <%# Pagar Pacial a conta  % >
                                          <%= render partial: 'collaborators_backoffice/contas_pag_rec/shared/bills_partial_modal', locals: { bill: bill } % >

                                        <% end % > %>

                                        <% if !bill.lancamentos.blank? %>
                                          <%# lancamentos da parcela %>
                                          <%= render partial: 'collaborators_backoffice/contas_pag_rec/shared/launchs_modal', locals: { bill: bill } %>
                                        <% end %>
              <%# ---------------------- %>

                                      </td>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>

                    <% end %>

                </tbody>
              </table>
          </div>
        <div class="dataTable-bottom">
          <div class="dataTable-info"><%= page_entries_info @sales, entry_name: 'item' %></div>
              <div class = "text-center">
                <%= paginate @sales %>
              </div>
          </div>
        </div>
        
    </div>
</div>

 <script>
 function MudarEstado(el) {
      var display = document.getElementById(el).style.display;
      if(display == "none")
          document.getElementById(el).removeAttribute("style");
      else
          document.getElementById(el).style.display = 'none';
  }
</script>