<div class="modal fade" id="launchsModal<%= bill.cod_contaspagrec %>" data-tor-parent="show" data-bs-backdrop="static" tabindex="-1" >  
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lançamentos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container-fluid bd-example-row me-2 ">
        <table id="datatablesSimple" class="table table-hover table-striped table-responsive  ">
          <thead class="table-light">
            <tr>
              <th><a href="#" class="">Colaborador</a></th>
              <th><a href="#" class="">Descrição</a></th>
              <th><a href="#" class="">Parcela</a></th>
              <th><a href="#" class="">Dt Pagto</a></th>
              <th><a href="#" class="">Valor</a></th>
            </tr>
          </thead>
          <tbody>
            <% sorted_lancamentos = bill.lancamentos.sort_by { |lancamento| lancamento.datapagto } %>
            <% sorted_lancamentos.each do |launch| %>
              <tr>
                  <td><%= launch.funcionario.usuario %></td>
                  <td><%= launch.historico_descricao %> </td>
                  <td><%= bill.nmParcela %> </td>
                  <td><%= post_datetime launch.datapagto %> </td>
                  <td><%= number_to_currency( launch.valor, separator: ",", delimiter: "", unit: "" ) %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>