<div id="layoutAuthentication_content">
    <main>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="">
                    <div class="card mt-3">
                        <% if @xml_file.errors.any? %>
                            <div class="alert alert-danger alert-dismissible " role="alert">
                                <% @xml_file.errors.full_messages.each do |message| %>
                                    <ul>
                                        <li><%= message %></li>
                                    </ul>
                                <% end %>
                                <% @xml_file.errors.clear %>
                                <% @xml_file.pessoa.errors.clear %>
                            </div>
                        <% end %> 
                                            
                        <div class="card-header bg-primary" >
                            <h4 class="text-center font-weight-light">
                                <%= "#{action_message} Importação"%> 
                            </h4>
                        </div>
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav mt-2 nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Fornecedor</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="products-tab" data-bs-toggle="tab" data-bs-target="#products" type="button" role="tab" aria-controls="products" aria-selected="false">Produtos</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="frete-tab" data-bs-toggle="tab" data-bs-target="#frete" type="button" role="tab" aria-controls="frete" aria-selected="false">Frete</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pagto-tab" data-bs-toggle="tab" data-bs-target="#pagto" type="button" role="tab" aria-controls="pagto" aria-selected="false">Pagamentos</button>
                                </li>
                            </ul>

                            <%= form_with(model: [ :collaborators_backoffice, (@xml_file.nil? ? @xml_file = XmlFile.new : @xml_file) ], local: true) do |form| %>

                                <% if @xml_file.file.attached? %>


                                    <div class="tab-content">

                                        <%= form.fields_for :compra do |form_buy| %>
                                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                                <%#  agora aqui podemos manipular os dados do fornecedor para efetuar a compra %>
                                                <%# dados do xml %>
                                                <div class="row g-2 my-2">
                                                    <div class="col-md-6">
                                                        <div class="form-floating mb-3 mb-md-0">
                                                            <%= form_buy.text_field :arquivoxml, disabled: true, class: "text form-control", placeholder:"arquivo" %>
                                                            <%= form_buy.label :arquivoxml, class:"" %>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating">
                                                            <%= form_buy.text_field :numeronf, class: "text form-control", placeholder:"numero-Nf", id:"text" %>
                                                            <%= form_buy.label :numeroNf, class:"" %>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating">
                                                            <%= form_buy.text_field :serienf, disabled: false, class: "text form-control", placeholder:"arquivo" %>
                                                            <%= form_buy.label :serie, class:"" %>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row g-2 my-2">
                                                    <div class="col-md-3">
                                                        <div class="form-floating mb-3 mb-md-0">
                                                            <%= form_buy.text_field :dataemissao, class: "form-control fallback datepicker ", placeholder:"numero-Nf" %>
                                                            <%= form_buy.label :data_emissao, class:"" %>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating">
                                                            <%= form_buy.text_field :datacompra, class: "fallback datepicker text form-control", placeholder:"numero-Nf", id:"text" %>
                                                            <%= form_buy.label :data_cadastro, class:"" %>
                                                        </div>
                                                    </div>
                                                </div>
                                                

                                                <hr class="my-2">
                                                <%# dados fornecedor %>
                                                <h5 class="my-2">Dados do Fornecedor</h5>
                                                
                                                <%= form_buy.fields_for :pessoa do |form_pessoa| %>

                                                    <div class="row g-2 my-2">
                                                        <div class="col-md-6">
                                                            <div class="form-floating mb-3 mb-md-0">
                                                                <%= form_pessoa.text_field :nome, disabled: false, class: "text form-control", placeholder:"arquivo" %>
                                                                <%= form_pessoa.label :nome, class:"" %>
                                                            </div>
                                                        </div>
                                                            <div class="col-md-3">
                                                                <div class="form-floating">
                                                                    <%= form_pessoa.text_field :cpf_cnpj, class: "cnpj form-control", placeholder:"numero-Nf", id:"text" %>
                                                                    <%= form_pessoa.label :cnpj, class:"" %>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-floating">
                                                                    <%= form_pessoa.text_field :rg_ie, class: "form-control ", placeholder:"numero-Nf" %>
                                                                    <%= form_pessoa.label :inscricao_estadual, class:"" %>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <div class="row g-2 my-2">
                                                        <div class="col-md-6">
                                                            <div class="form-floating">
                                                                <%= form_pessoa.text_field :cidade, class: "form-control ", placeholder:"numero-Nf" %>
                                                                <%= form_pessoa.label :cidade, class:"" %>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-floating">
                                                                <%= form_pessoa.text_field :endereco, class: "text form-control", placeholder:"numero-Nf", id:"text" %>
                                                                <%= form_pessoa.label :endereco, class:"" %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <hr class="my-2">
                                                    <h5 class="my-2">Contato Representante</h5>

                                                    <div class="row g-2 my-2">
                                                        <div class="col-md-6">
                                                            <div class="form-floating mb-3 mb-md-0">
                                                                <%= form_pessoa.text_field :pessoacontato, disabled: false, class: "text form-control", placeholder:"arquivo" %>
                                                                <%= form_pessoa.label :pessoacontato, class:"" %>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <%= form_pessoa.text_field :telefonecontato, class: "phone form-control ", placeholder:"numero-Nf" %>
                                                                <%= form_pessoa.label :telefonecontato, class:"" %>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <%= form_pessoa.text_field :email, class: "form-control ", placeholder:"numero-Nf", type:"email" %>
                                                                <%= form_pessoa.label :email, class:"" %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>

                                            <%# tab itens tem que pegar o arquivo xml os itens e localizar os produtos  %>
                                            <div class="tab-pane" id="products" role="tabpanel" aria-labelledby="products-tab" tabindex="1">
                                                
                                                <table id="datatablesSimple" class="dataTable-table my-3" style="height: 100px;" >
                                                    <thead>
                                                        <tr>
                                                            <th data-sortable="" style="width: 50%;"><a class="dataTable-sorter">Fornecedor</a></th>
                                                            <th data-sortable="" style="width: 50%;"><a class="dataTable-sorter">Sistema</a></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    
                                                        <% index = 0 %>
                                                            <%= form_buy.fields_for :itensCompra do |form_itens| %>
                                                            
                                                                <tr>
                                                                    <td class="align-middle">
                                                                        <%# form_itens.text_field :pro_xml_temp %>

                                                                        <p class="text-start text-uppercase"> 
                                                                            Cod emissor: 
                                                                            <span class="font-weight-bold" style="font-weight: bold !important;"><%= form_itens.object.pro_xml_temp[:codEmissor] %></span></p>
                                                                        <p class="text-start text-uppercase">
                                                                            Nome: 
                                                                            <span class="font-weight-bold" style="font-weight: bold !important;"><%= form_itens.object.pro_xml_temp[:nome] %></span></p>
                                                                        <p class="text-start text-uppercase">
                                                                            Unidade Medida: 
                                                                            <span class="font-weight-bold" style="font-weight: bold !important;"><%= form_itens.object.pro_xml_temp[:unMed] %></span></p>
                                                                        <p class="text-start text-uppercase">
                                                                            Quantidade: 
                                                                            <span class="font-weight-bold" style="font-weight: bold !important;"><%= form_itens.object.pro_xml_temp[:quantidade] %></span></p>
                                                                        <p class="text-start text-uppercase">
                                                                            IPI/Uni: 
                                                                            <span class="font-weight-bold" style="font-weight: bold !important;"><%= number_to_currency( form_itens.object.pro_xml_temp[:vlIPI], precision: 2, separator: ",", delimiter: "", unit: "") %></span></p>
                                                                        <p class="text-start text-uppercase">
                                                                            Uni-Total: 
                                                                            <span class="font-weight-bold" style="font-weight: bold !important;"><%= number_to_currency( form_itens.object.pro_xml_temp[:totalUnitario], precision: 2, separator: ",", delimiter: "", unit: "") %></span></p>
                                                                        <p class="text-start text-uppercase">
                                                                            Valor Total: 
                                                                            <span class="font-weight-bold" style="font-weight: bold !important;"><%= number_to_currency( form_itens.object.pro_xml_temp[:total], precision: 2, separator: ",", delimiter: "", unit: "")   %></span></p>
                                                                        <p class="text-start text-uppercase">
                                                                            Desconto: 
                                                                            <span class="font-weight-bold" style="font-weight: bold !important;"><%= number_to_currency( form_itens.object.pro_xml_temp[:desconto], precision: 2, separator: ",", delimiter: "", unit: "") %></span></p>
                                                                        <p class="text-start text-uppercase">
                                                                            NCM: 
                                                                            <span class="font-weight-bold" style="font-weight: bold !important;"><%= form_itens.object.pro_xml_temp[:NCM] %></span></p>
                                                                        <p class="text-start text-uppercase">
                                                                            CFOP: 
                                                                            <span class="font-weight-bold" style="font-weight: bold !important;"><%= form_itens.object.pro_xml_temp[:CFOP] %></span></p>
                                                                    
                                                                    </td>
                                                                    <td class="align-middle">
                                                                        <% codEmissor = form_itens.object.pro_xml_temp[:cProd] %>
                                                                        <% xmlProds = Produtoxml.where(codproemissor: codEmissor, pessoa: @xml_file.pessoa).order(:codigo) %>
                                                                        <% xmlProd = nil %>

                                                                        <% if xmlProds
                                                                            xmlProds.each do |item|
                                                                                if item.nome.downcase.gsub(/\s+/, '') == form_itens.object.pro_xml_temp[:xProd].downcase.gsub(/\s+/, '')
                                                                                    xmlProd = item;
                                                                                    break
                                                                                end
                                                                            end
                                                                        end %>

                                                                        <div class="row g-2 my-2">
                                                                            <div class="col-md-12">
                                                                                <div class="form-floating mb-3 mb-md-0">
                                                                                    <%= form_itens.hidden_field :cod_produto %>
                                                                                    <%= form_itens.text_field :produto, disabled: false, class: "text form-control produto_search", placeholder:"arquivo" %>
                                                                                    <%# form_itens.label :produto, class:"" %>
                                                                                    <div id="products_list_<%= index %>" class="position-absolute bg-light rounded form-control-md p-2 mt-2" style="display: none; z-index: 100; width: 100%;"></div>
                                                                                    <% index += 1 %> 
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row g-2 my-2">
                                                                            <div class="col-md-10">
                                                                                <div class="form-floating mb-3 mb-md-0">
                                                                                <%= form_itens.collection_select(:cod_cor, Core.where(ativo: :true).order(:nmcor, :cod_cor), 
                                                                                        :cod_cor, :nmcor_cod, {:prompt => 'Selecione uma Cor'},
                                                                                            class: "form-control border-top-0 border-start-0 border-end-0 border-dark" ) %>                                                                                <%# form_itens.text_field :cor, disabled: false, class: "text form-control", placeholder:"arquivo" %>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row g-2 my-2">
                                                                            <div class="col-md-3">
                                                                                <div class="form-floating">
                                                                                    <%= form_itens.number_field :quantidade, step: 1, class: "form-control ", onchange: "setValorTotal(this)" %>
                                                                                    <%= form_itens.label :quantidade, class:"" %>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row g-2 my-2">
                                                                            <div class="col-md-3">
                                                                                <div class="form-floating">
                                                                                    <%= form_itens.text_field :valorunitario, disabled: false, value: (form_itens.object.valorunitario? ? number_to_currency(form_itens.object.valorunitario, precision: 2, separator: ",", delimiter: "", unit: "") : "0,00"), class: "form-control ", placeholder:"", onchange: "setValorTotal(this)"  %>
                                                                                    <%= form_itens.label :valorunitario, class:"" %>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row g-2 my-2">
                                                                            <div class="col-md-3">
                                                                                <div class="form-floating">
                                                                                    <% valorTotal = form_itens.object.valorunitario.to_f * form_itens.object.quantidade %>
                                                                                    <%= form_itens.text_field :valorTotal, disabled: true, value: number_to_currency(valorTotal, precision: 2, separator: ",", delimiter: "", unit: ""), class: "form-control ", placeholder:"" %>
                                                                                    <%= form_itens.label :valor_total, class:"" %>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            <% end %>
                                                    </tbody>
                                                </table>
                                                
                                            </div>
                                            <div class="tab-pane" id="frete" role="tabpanel" aria-labelledby="frete-tab" tabindex="2">

                                            </div>
                                            <div class="tab-pane" id="pagto" role="tabpanel" aria-labelledby="pagto-tab" tabindex="3">

                                                <div class="bg-primary" >
                                                    <h2 class="text-center font-weight-light">
                                                        Frete
                                                    </h4>
                                                </div>

                                                <%= form_buy.fields_for :frete do |form_ff|  %>    
                                                    
                                                    <div class="row g-2 my-2">
                                                        <div class="col-md-6">
                                                            <div class="form-floating mb-3 mb-md-0">
                                                                <%= form_ff.text_field :pessoa, class: "form-control border-top-0 border-start-0 border-end-0 border-dark ", placeholder:"Transportadora", readonly: false  %>
                                                                <%= form_ff.label :transportadora, class:"" %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row g-2 my-2">
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <%= form_ff.text_field :datacadastro,
                                                                        value: (form_ff.object.try(:datacadastro).nil? ? post_date(DateTime.now) : form_ff.object.datacadastro),
                                                                        class: "datepicker form-control border-top-0 border-start-0 border-end-0 border-dark",
                                                                        placeholder: "Dt",
                                                                    readonly: false %>
                                                                <%= form_ff.label :dt_cadastro, class:"" %>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <%= form_ff.text_field :datavencimento, class: "datepicker form-control border-top-0 border-start-0 border-end-0 border-dark", placeholder:"", readonly: false   %>
                                                                <%= form_ff.label :dt_vencimento, class:"" %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row g-2 my-2">
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <%= form_ff.text_field :nrromaneio, class: "form-control border-top-0 border-start-0 border-end-0 border-dark", placeholder:"", readonly: false  %>
                                                                <%= form_ff.label :nr_romaneio, class:"" %>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <%= form_ff.text_field :valor, class: "form-control border-top-0 border-start-0 border-end-0 border-dark", placeholder:"", placeholder:"", readonly: false  %>
                                                                <%= form_ff.label :valor, class:"" %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <%= form_ff.hidden_field :empresa  %>
                                                    <%= form_ff.hidden_field :ativo %>
                                                    
                                                <% end %>
                                                <br>
                                                <div class="bg-primary" >
                                                    <h2 class="text-center font-weight-light">
                                                        Contas
                                                    </h4>
                                                </div>
    
                                                <table id="tblContas" class="dataTable-table my-3">
                                                    <thead>
                                                        <tr>
                                                            <th class="">Numero</th>
                                                            <th class="">Dt Vencimento</th>
                                                            <th class="">valor Parcela</th>
                                                            <th style="width: 3%;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id = 'conta_field' class = "contas">
                                                        <%= form_buy.fields_for :contas do |bill| %>
                                                            <%= render partial: "conta_fields", locals: { f: bill } %> 
                                                        <% end %>
                                                    </tbody>
                                                </table> 

                                                <div class="form-actions">
                                                    <%= link_to_add_association 'Adiciona Conta', form_buy, :contas, 
                                                            force_non_association_create: true, id:"addConta",
                                                            class: 'btn btn-primary bills', 
                                                            data: { association_insertion_node: '.contas',
                                                                    association_insertion_method: :append } %>
                                                </div>
                                            </div>
                                        <% end %>
                                            
                                        <!-- Seu código para manipular o documento XML vai aqui -->

                                    <% else %>
                                        <!-- Lógica para lidar com o caso em que o arquivo não está anexado -->
                                    <% end %>
                                </div>

                                <div class="position-fixed bottom-0 end-0 m-4">
                                    <div class="d-block my-3 mx-3">
                                        <%= link_to 'SALVAR', collaborators_backoffice_compras_path(form), method: :post %>

                                        <button id="saveButton" type="submit" class="btn btn-success rounded-circle p-3">
                                            <i class="fa fa-check fa-2x"></i>
                                        </button>>

                                    </div>
                                </div>  
                            <% end %>
                        </div> <%# car body %>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<%= render partial: 'layouts/shared/modal_alert' %>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    
    let url = window.location.origin + '/collaborators_backoffice/';

    document.addEventListener("keypress", function () { 
        //console.log("-- "+event.key); // se eu clicar 'p' vai me retornar 'p' ao contrário do keycode que retorna o código da tecla
        if(event.keyCode == 13){ // 13 é o Enter
            event.preventDefault();
        }
    });

    function thisIndex(field) {
        var name = field.name;
        var regex = /\[(\d+)\]/;
        var matches = name.match(regex);

        if (matches && matches.length > 1) {
            return parseInt(matches[1], 10);
        } else {
            return null;
        }
    }

    $(document).on('keydown', '.produto_search', function(event) {
        
        let productsList = $(`#products_list_${thisIndex(this)}`);
        if (event.key === 'Enter') {
            selectProduct(this);
        } else if (event.key === 'Escape') {
            productsList.empty();
            productsList.hide();
        }
    });

    function selectProduct(field) {
        
        var index = thisIndex(field);

        // Obtém a referência da div pelo id atual
        var productsListDiv = document.getElementById(`products_list_$(index)`);

        // Verifica se a div com id "products_list" existe
        if (productsListDiv) {
            // Define o novo id
            productsListDiv.id = `products_list_${index}`;
        }
        
        var selectedProductIdField = document.getElementById(`compra_itenscompra_attributes_${index}_cod_produto`);
        
        let productsList = $(`#products_list_${index}`);

        let apiUrl = url+ "buscas/buscar_produtos";

        productOptions();
        
        // Adiciona um evento de clique aos itens da lista
        productsList.on('click', `div.list-group-item`, function() {
            let selectedProduct = $(this).data('produto');
            let selectedProductId = $(this).data('cod_produto');
            field.value =  selectedProduct ;
            // Limpa a lista de resultados
            productsList.hide();

        });

        function productOptions() {
            var query = field.value.trim().toLowerCase();
            productsList.empty();
            
            $.ajax({
                url: apiUrl,
                method: 'GET',
                data: { entidade: 'Produto', query: query },
                success: function(data) {
                    productsList.empty();
                    data.forEach(function(product) {
                        var listItem = $('<div>').text(product.produto);
                        listItem.addClass('list-group-item');
                        listItem.data('cod_produto', product.cod_produto); // Armazena o ID do produto nos dados do item
                        listItem.data('produto', product.produto); 
                        productsList.append(listItem);
                    });

                    // Exibe a lista de resultados
                    productsList.show();
                },
                error: function(err) {
                    console.error('Erro na requisição AJAX:', err);
                }
            });
        }
    };
//  ---------------- valor total dos itens quando alterado a quantidade ou o valor unitario  ----
    function setValorTotal(field) {

        let index = thisIndex(field);
        let proValor = document.getElementById(`xml_file_compra_attributes_itensCompra_attributes_${index}_valorunitario`);
        let proQtd   = document.getElementById(`xml_file_compra_attributes_itensCompra_attributes_${index}_quantidade`);
        let proTotal = document.getElementById(`xml_file_compra_attributes_itensCompra_attributes_${index}_valorTotal`);
        
        proTotal.value = ((parseFloat( proValor.value ? parseFloat(proValor.value) : 0) * (proQtd.value ? parseFloat(proQtd.value) : 0 )));
        proTotal.value = parseFloat(proTotal.value).toFixed(2).replace(".",",");

        proValor = "";
        proQtd   = "";
        proTotal = "";
        index = "";

    }
    // fim valor total item 
</script>