<!-- Modal -->
<div class="modal fade" id="modalNovoProduto" tabindex="-1" aria-labelledby="modalNovoProdutoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNovoProdutoLabel">Novo Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <%= form_with url: collaborators_backoffice_compras_cadastrar_produto_path, method: :post,onsubmit:"salvarProduto(event)",  remote: true, html: { id: "form-novo-produto", data: { turbo: false }  } do |form| %>
            <div class="row mb-3  mt-2 mb-3">
              <div class="col-md-6">
                <%= form.hidden_field :indexAtual, value: 1 %>
                <div class="form-floating mb-3 mb-md-0">
                  <%= form.text_field :cod_produto, disabled: true, value: Produto.last.cod_produto += 1, class: "text form-control", placeholder:"Codigo", id:"text" %>
                  <%= form.label :cod_produto, class:"" %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-floating">
                  <%= form.text_field :cfop, class: "text form-control", placeholder:"Produto", id: "modal_cfop" %>
                  <%= form.label :cfop, class:"" %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-floating">
                  <%= form.text_field :ucom, class: "text form-control", placeholder:"Produto", id: "modal_ucom" %>
                  <%= form.label :ucom, class:"" %>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <%= form.text_field :nome, class: "text form-control", placeholder:"Produto", id: "modal_nome" %>
              <%= form.label :name, class:"" %>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <%= form.text_field :ncm, class: "text form-control", placeholder:"NCM", id: "modal_ncm" %>
                  <%= form.label :ncm, class:"" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <%= form.text_field :cest, class: "text form-control", placeholder:"CEST", id:"modal_cest" %>
                  <%= form.label :cest, class:"" %>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <%= form.collection_select(:marca, getBrands("%"), :cod_marca, :nome, 
                {:prompt => 'Selecione uma Marca'}, class: "form-control", id:"modal_brands") %>
              <%= form.label :brands, class:"" %>
            </div>
            <div class="row mb-0">
              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <%= form.collection_select(:grupo, Grupo.all.order(:nomegrupo), :cod_grupo, :nomegrupo, 
                        {:prompt => 'Selecione um Grupo'}, class: "form-control") %>
                  <%= form.label :group, class:"" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <%= form.collection_select(:cod_margem, Parametro.all.order(:descricao), :cod_parametro, :descricao,
                        {:prompt => 'Selecione uma Margem'}, class: "form-control") %>
                  <%= form.label :margin, class:"" %>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-2 mb-3">
              <div class="form-floating">
                <button onclick="salvarProduto()" class="btn btn-success">Salvar Produto</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
