<div class="card mt-3">
  <div class="card-header bg-primary d-flex align-items-center">
    <%= link_to collaborators_backoffice_contas_pag_rec_index_path, class:"" do %>
      <h4 class="text-white mb-0">Contas Pag/Rec</h4>
    <% end %>
    <div class="ms-auto">
      <button class="btn btn-light", data-bs-toggle="modal", data-bs-target="#modalContasPagRec">
        <i class="fa fa-plus"></i> Novo
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="">
      <%= form_with(url: collaborators_backoffice_contas_pag_rec_index_path, local: true, method: :get, 
                              class:"dataTable-search") do |form| %>
        <div class="d-flex mb-2 col-md-3">
          <div class="col-md-2">
            <%= select_tag :per_page, options_for_select([30, 40, 70, 150, "Todas"], params[:per_page]), onchange: 'this.form.submit()', class: "form-control" %>
          </div>
          <div id= "venda" class="dataTable-input col-md-5 form-check form-switch">
            <label id="lb_pag_rec" for= "tipo_conta" class="label-check d-inline-block form-check-label"><%= tipe_bill(params[:tipo_conta])%></label>
            <%= form.check_box :tipo_conta, { checked: tipe_bill_true(params[:tipo_conta]),
                    class: "form-check-input", type:"checkbox" }, true, false %>
          </div>
          <div class="col-md-4">
            <%= form.collection_select(:status_bill, @array, :to_s, :to_s,
                    {selected: params[:status_bill], prompt: false}, class: "form-control") %>
          </div>
          <div class="col-md-4">
            <div class="">
              <%= form.text_field :nrVenda, class:"dataTable-input", value:params[:nrVenda],placeholder:"Cod Venda", id:"numeric" %>
            </div>
          </div>
          <div class="col-md-10">
            <div class="">
              <%= form.text_field :cliente, class:"text dataTable-input", value:params[:cliente],placeholder:"Cliente...", id:"text" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <%= form.text_field :dataInicial, value: ((!(params[:dataInicial]).blank? ? params[:dataInicial] : Time.current.strftime("01/%m/%Y")  )),
                      class: "dataTable-input datepicker", placeholder:"Data Inicial", id: "dtInicial" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <%= form.text_field :dataFinal, value: ((!(params[:dataFinal]).blank? ? params[:dataFinal] : Time.current.end_of_month.strftime("%d/%m/%Y") )),
                      class: "dataTable-input datepicker", placeholder:"Data Final", id: "dtFinal" %>
            </div>
          </div>
          <div class="ms-auto col-md-5">
            <button type='submit', class="ms-1 btn btn-success btn-circle">Buscar</button>
          </div>
          <%# if current_collaborator.funcionario.permissao.nivel == 1 %>
          <div class="col-md-5 ml-auto ">
            <%= form.text_field :valorReceber, class: "text-bg-warning form-control ", readonly: true %>
          </div>
          <div class="col-md-5 ml-auto order-last">
            <%= form.text_field :valorRecebido, class: "text-bg-info form-control ", readonly: true %>
          </div>
          <%# end %>
        </div>
      <% end %>
      <div class="dataTable-container"  style="width: 100%; min-height:150px;">
        <table id="datatablesSimple" class="dataTable-table">
          <thead>
            <tr>
              <th data-sortable=""  style="width: 2%;"><a href="#" class="dataTable-sorter">Pago?</a></th>
              <th data-sortable="" style="width: 12%;"><a href="#" class="dataTable-sorter">Colaborador</a></th>
              <th data-sortable="" style="width: 30px;"><a href="#" class="dataTable-sorter">Parcela</a></th>
              <th data-sortable=""><a href="#" class="dataTable-sorter">Cliente</a></th>
              <th data-sortable=""  style="width: 8.5%;"><a href="#" class="dataTable-sorter">Dt Venci..</a></th>
              <th data-sortable="" style="width: 110px;">Valor Total</th>
              <th data-sortable="" style="width: 110px;">Valor Pago</th>
              <th data-sortable="" style="width: 85px;">Pagar?</th>
            </tr>
          </thead>
          <tbody>
            <% somaReceber = 0; %>
            <% somaRecebido = 0; %>
            <% @bills.each do |bill| %>
              <% if (!bill.ativo) %>
                <tr class="text-danger">
                <% elsif (bill.dtvencimento < DateTime.now && bill.quitada == false) %>
                  <tr class="text-warning">
                  <% else %>
                    <tr class="">
                    <% end %>
                    <td class= "align-middle"><%= (bill.quitada_ext) %> </td>
                    <td class= "align-middle"><%= bill.nmCollaborator %> </td>
                    <td class= "align-middle"><%= bill.nmParcela %> </td>
                    <td class= "align-middle"><%= bill.nmPessoa %> </td>
                    <td class= "align-middle"><%= post_date ((bill.dtvencimento? ? bill.dtvencimento : "")) %> </td>
                    <td class= "align-middle"><%= "R$ #{number_to_currency(bill.valorparcela, separator: ",", delimiter: "", unit:"")}" %></td>
                    <td class= "align-middle"><%= "R$ #{number_to_currency(bill.valorPago, separator: ",", delimiter: "", unit:"")}" %></td>
                    <td class= "align-middle" id = "acoes">
                      <% if bill.ativo %>
                        <% somaRecebido += bill.valorPago; %>
                        <% somaReceber += (bill.valorparcela) %>
                      <% end %>
                      <div class="d-flex justify-content-start">
                        <% if !bill.quitada || bill.lancamentos.size == 0 %>
                          <% if bill.ativo %>
                            <%= button_to record_payment_collaborators_backoffice_contas_pag_rec_path(
                                            bill,
                                            tipo_conta: params[:tipo_conta],
                                            status_bill: params[:status_bill],
                                            nrVenda: params[:nrVenda],
                                            cliente: params[:cliente],
                                            dataInicial: params[:dataInicial],
                                            dataFinal: params[:dataFinal]
                                          ),
                                          method: :patch,
                                          class: "btn btn-success btn-circle",
                                          style: "width: 35px; height: 35px;",
                                          data: { confirm: "Deseja registrar a movimentação?" } do %>
                              <i class="fa fa-check"></i>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% if !bill.lancamentos.blank? && !bill.quitada%>
                          <div class="btn-group" >
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                              <li>
                                <% unless bill.quitada  %>
                                  <% if (bill.ativo) %>
                                    <button type="button", class="dropdown-item btn btn-info btn-circle", data-bs-toggle="modal",
                                    data-bs-target="#launchPartialModal<%= bill.cod_contaspagrec %>", data-bs-whatever= <%= bill.cod_contaspagrec %> >
                                      <i class="fa-regular fa-handshake", style="width: 35px;"> </i> Pagamento
                                    </button>
                                  <% end %>
                                <% end %>
                              </li>
                              <li>
                                <% if !bill.lancamentos.blank? %>
                                  <button type="button", class="dropdown-item btn btn-info btn-circle", data-bs-toggle="modal" data-bs-target="#launchsModal<%= bill.cod_contaspagrec %>", data-bs-whatever= <%= bill.cod_contaspagrec %> >
                                    <i class="fa fa-info", style="width: 35px;"> </i> Informações
                                  </button>
                                <% end %>
                              </li>
                            </ul>
                          </div>
                        <% else %>
                          <% unless bill.quitada  %>
                            <% if (bill.ativo) %>
                              <div class="d-flex justify-content-end">
                                <button type="button", class="ms-1 btn btn-info btn-circle", data-bs-toggle="modal", style="width: 35px; height: 35px;", data-bs-target="#launchPartialModal<%= bill.cod_contaspagrec %>", data-bs-whatever= <%= bill.cod_contaspagrec %> >
                                  <i class="fa-regular fa-handshake"></i>
                                </button>
                              </div>
                            <% end %>
                          <% end %>
                          <% if !bill.lancamentos.blank? %>
                            <div class="d-flex justify-content-end">
                              <button type="button", class="btn btn-info btn-circle", data-bs-toggle="modal", style="width: 35px; height: 35px;"
                                data-bs-target="#launchsModal<%= bill.cod_contaspagrec %>", data-bs-whatever= <%= bill.cod_contaspagrec %> >
                                <i class="fa fa-info"></i>
                              </button>
                            </div>
                          <% end %>
                        <% end %>
                        <% if current_collaborator.funcionario.permissao.nivel == 1  %>
                          <div class="d-flex justify-content-end ms-1">
                            <button type="button"
                                  class="btn btn-info t btn-circle""
                                  data-bs-toggle="modal"
                                  style="width: 35px; height: 35px;"
                                  data-bs-target="#editModalContasPagRec<%= bill.cod_contaspagrec %>">
                              <i class="fa fa-edit"></i>
                            </button>
                          </div>
                        <% end %>
                        <%= render partial: 'collaborators_backoffice/contas_pag_rec/shared/launchs_modal', locals: { bill: bill } %>
                        <%= render partial: 'collaborators_backoffice/contas_pag_rec/shared/bills_partial_modal', locals: { bill: bill } %>
                      </td>
                    </tr>
                    <%= render partial: 'collaborators_backoffice/contas_pag_rec/edit_modal_contas_pag_rec', locals: { bill: bill } %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <% if @bills.respond_to?(:total_pages) %>
              <div class="dataTable-bottom">
                <div class="dataTable-info"><%= page_entries_info @bills, entry_name: 'conta' %></div>
                <div class = "text-center">
                  <%= paginate @bills %>
                </div>
              </div>
            <% else %>
              <div class="dataTable-bottom">
                <div class="dataTable-info">
                  <h5>Exibindo <%= @bills.size %> registros</h5>
                </div>
                <div class = "text-center">
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Render Modal -->
<div class="position-fixed bottom-0 end-0 m-4">
  <div class="d-block mb-2">
    <button class="btn btn-primary rounded-circle d-flex align-items-center justify-content-center shadow-lg"
                      style="width: 60px; height: 60px;"
                      data-bs-toggle="modal"
                      data-bs-target="#modalContasPagRec">
      <i class="fa fa-plus fa-2x"></i>
    </button>
  </div>
</div>
<%= render partial: 'collaborators_backoffice/contas_pag_rec/modal_contas_pag_rec', locals: { action_message: 'Modal' } %>
<script>
  document.addEventListener("keypress", function (event) {
    if (event.key === "Enter") {
      event.preventDefault();
    }
  });

  let url = window.location.origin + '/collaborators_backoffice/';

   $(document).ready(function() {

    let apiUrl = url + "buscas/buscar_pessoas";

    $(document).on('keydown', '#contaspagrec_nome_pessoa', function(event) {

      if (event.key === 'Enter') {
        event.preventDefault();
        filterOptions();
      } else if (event.key === 'Escape') {
        $('#contaspagrec_nome_pessoa').val('');
        $('#selected_person_id').val('');
        $('#results_list').empty().hide();
      }
    });

    $(document).on('click', '#results_list .list-group-item', function(e) {
      e.preventDefault();
      e.stopPropagation();

      $('#selected_person_id').val($(this).data('cod_pessoa'));
      $('#contaspagrec_nome_pessoa').val($(this).text());
      $('#results_list').empty().hide();
    });

    function filterOptions() {
      let query = $('#contaspagrec_nome_pessoa').val().trim().toLowerCase();
      let resultsList = $('#results_list');

      resultsList.empty();

      $.ajax({
        url: apiUrl,
        method: 'GET',
        data: { entidade: 'Pessoa', query: query },
        success: function(data) {
          data.forEach(function(person) {
            $('<div>')
              .text(person.nome)
              .addClass('list-group-item')
              .data('cod_pessoa', person.cod_pessoa)
              .appendTo(resultsList);
          });
          resultsList.show();
        }
      });
    }
  });

  // ------------------------------------------
  // ------------------------------------------
  // Script para lidar com a mudança do tipo de conta (Pagar/Receber)

  var check = document.getElementById("tipo_conta");
  check.onclick = function () {
    var label = document.getElementById("lb_pag_rec");
    if (check.checked) {
        label.innerHTML  = "Pagar";
    } else {
        label.innerHTML  = "Receber";
    }
  };
  function toggleQuitada(id_recebido) {
    if (!id_recebido) {
      console.warn(`toggleQuitada chamado sem id_recebido ${id_recebido}`);
      return;
    }

    var check = document.getElementById("quitada_" + id_recebido);
    var label = document.getElementById("lb_bill_status_" + id_recebido);
    var ttDev = document.getElementById("vl_devido_" + id_recebido);
    var ttPag = document.getElementById("valorpagar_" + id_recebido);

    if (!check || !label || !ttDev || !ttPag) return;

    if (check.checked) {
      label.innerHTML = "Total";
      ttPag.value = ttDev.value;
    } else {
      label.innerHTML = "Parcial";
      ttPag.value = "0,00"; // precisa ser string
    }
  }

  function formatarReal(valor) {
    return valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
  }
  // Atualizar o conteúdo do elemento com ID "valortotal" com a soma formatada como reais
  var campoRecebido = document.getElementById("valorRecebido");
  var campoReceber  = document.getElementById("valorReceber");

  if (campoRecebido) {
    campoRecebido.value = formatarReal(<%= somaRecebido || 0 %>);
  }

  if (campoReceber) {
    campoReceber.value = formatarReal(<%= somaReceber || 0 %>);
  }
</script>