<br>
<div id="layoutAuthentication_content">
  <div class="card-body">
    <div class="row justify-content-center">
      <div>
        <div class="card mb-3" >
          <% if @produto.errors.any? %>
            <div class="alert alert-danger alert-dismissible " role="alert">
              <% @produto.errors.full_messages.each do |message| %>
                <ul>
                  <li><%= message %></li>
                </ul>
              <% end %>
            </div>
          <% end %>
          <div class="card-header text-center bg-primary text-white" >
            <div class="d-flex">
              <h4 class="">
                <%= "#{action_message} Produto"%>
              </h4>
              <%= link_to '', collaborators_backoffice_produtos_path, class:'btn btn-close ms-auto' %>
            </div>
          </div>
          <div class="card-body">
            <!-- Nav tabs -->
            <ul class="nav mt-2 nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Produto</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Estoque</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Vendas</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Compras</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="transfers-tab" data-bs-toggle="tab" data-bs-target="#transfers" type="button" role="tab" aria-controls="settings" aria-selected="false">Saidas Transfe.</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="transfers-tab-entrada" data-bs-toggle="tab" data-bs-target="#transfersEnt" type="button" role="tab" aria-controls="settings" aria-selected="false">Entrada Transfe.</button>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <%= render partial: 'collaborators_backoffice/produtos/shared/partial_form', locals: { produto: @produto } %>
              </div>
              <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <table id="datatablesSimple" class="dataTable-table">
                  <thead>
                    <tr>
                      <th data-sortable="" style="width: 5%;"><a href="#" class="dataTable-sorter">Empresa</a></th>
                      <th data-sortable="" style="width: 5%;"><a href="#" class="dataTable-sorter">Cor</a></th>
                      <th data-sortable=""><a href="#" class="dataTable-sorter">Nome Cor</a></th>
                      <th data-sortable="" style="width: 10.886288%;"><a href="#" class="dataTable-sorter">Qtd</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @produto.empresaprodutos.where("cod_empresa = ? ", current_collaborator.cod_empresa).each do |produto| %>
                      <tr>
                        <td><%= produto.cod_empresa %></td>
                        <td><%= produto.cod_cor %></td>
                        <td><%= produto.cor.nmcor %></td>
                        <td><%= produto.quantidade.to_i %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab" tabindex="0">
                <table id="datatablesSimple" class="dataTable-table">
                  <thead>
                    <tr>
                      <th data-sortable="" style="width: 5%;"><a href="#" class="dataTable-sorter"></a></th>
                      <th data-sortable="" style="width: 5%;"><a href="#" class="dataTable-sorter">Cor</a></th>
                      <th data-sortable=""><a href="#" class="dataTable-sorter">Cliente</a></th>
                      <th data-sortable="" style="width: 15.886288%;"><a href="#" class="dataTable-sorter">Dt Venda</a></th>
                      <th data-sortable="" style="width: 10.886288%;"><a href="#" class="dataTable-sorter">Qtd</a></th>
                      <th data-sortable="" style="width: 110px;"><a href="#" class="dataTable-sorter">Valor</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%# @produto.itensvenda.where("cod_empresa = ? and cod_venda = (select cod_venda from venda where cod_venda = itemvenda.cod_venda and tipo = 'V')", current_collaborator.cod_empresa).order("cod_item desc").page(params[:page]).each do |item| %>
                      <% @produto.itensvenda
                                                .joins("INNER JOIN venda ON venda.cod_venda = itemvenda.cod_venda")
                                                .where("itemvenda.cod_empresa = ? AND venda.tipo = 'V'", current_collaborator.cod_empresa)
                                                .order("itemvenda.cod_item DESC")
                                                .page(params[:page])
                                                .each do |item| %>
                        <tr>
                          <td><%= item.cod_empresa %></td>
                          <td><%= item.cod_cor %></td>
                          <td><%= item.venda.pessoa.nome %></td>
                          <td class=""><%= post_date item.venda.datavenda %></td>
                          <td class=""><%= item.quantidade.to_i %></td>
                          <td class=""><%= "R$ #{number_to_currency(item.valorunitario, separator: ",", delimiter: "", unit:"")}" %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab" tabindex="0">
                  <table id="datatablesSimple" class="dataTable-table">
                    <thead>
                      <tr>
                        <th data-sortable="" style="width: 5%;"><a href="#" class="dataTable-sorter">Dt Compra</a></th>
                        <th data-sortable="" style="width: 5%;"><a href="#" class="dataTable-sorter">Cor</a></th>
                        <th data-sortable=""><a href="#" class="dataTable-sorter">Fornecedor</a></th>
                        <th data-sortable="" style="width: 10.886288%;"><a href="#" class="dataTable-sorter">Qtd</a></th>
                        <th data-sortable="" style="width: 110px;"><a href="#" class="dataTable-sorter">Valor</a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @produto.itenscompra.where("cod_empresa = ? ", current_collaborator.cod_empresa).order("cod_item desc").limit(10).each do |item| %>
                        <tr>
                          <td><%= post_date item.compra.datacompra %></td>
                          <td><%= item.cod_cor %></td>
                          <td class="no-link"  title="Clique para editar" style="cursor: pointer;" ondblclick="window.location='<%= collaborators_backoffice_compra_path(item.compra) %>'" ><%= item.compra.pessoa.nome %></td>
                          <td class=""><%= item.quantidade.to_i %></td>
                          <td class=""><%= "R$ #{number_to_currency(item.valorunitario, separator: ",", delimiter: "", unit:"")}" %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane" id="transfers" role="tabpanel" aria-labelledby="transfers-tab" tabindex="0">
                  <table id="datatablesSimple" class="dataTable-table">
                    <thead>
                      <tr>
                        <th data-sortable="" style="width: 5%;"><a href="#" class="dataTable-sorter">Saida</a></th>
                        <th data-sortable="" style="width: 5%;"><a href="#" class="dataTable-sorter">Cor</a></th>
                        <th data-sortable=""><a href="#" class="dataTable-sorter">Cliente</a></th>
                        <th data-sortable="" style="width: 15.886288%;"><a href="#" class="dataTable-sorter">Dt Venda</a></th>
                        <th data-sortable="" style="width: 10.886288%;"><a href="#" class="dataTable-sorter">Qtd</a></th>
                        <th data-sortable="" style="width: 110px;"><a href="#" class="dataTable-sorter">Valor</a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @produto.itensvenda.joins(:venda)
                                                        .where(cod_empresa: current_collaborator.cod_empresa)
                                                        .where(venda: { cod_empresa: current_collaborator.cod_empresa, tipo: 'T' })
                                                        .order(cod_item: :desc)
                                                        .page(params[:page])
                                                        .each do |item| %>
                        <tr>
                          <td><%= item.cod_empresa %></td>
                          <td><%= item.cod_cor %></td>
                          <td><%= item.venda.pessoa.nome %></td>
                          <td class=""><%= post_date item.venda.datavenda %></td>
                          <td class=""><%= item.quantidade.to_i %></td>
                          <td class=""><%= "R$ #{number_to_currency(item.valorunitario, separator: ",", delimiter: "", unit:"")}" %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane" id="transfersEnt" role="tabpanel" aria-labelledby="transfers-tab-entrada" tabindex="0">
                  <table id="datatablesSimple" class="dataTable-table">
                    <thead>
                      <tr>
                        <th data-sortable="" style="width: 5%;"><a href="#" class="dataTable-sorter">Ent</a></th>
                        <th data-sortable="" style="width: 5%;"><a href="#" class="dataTable-sorter">Cor</a></th>
                        <th data-sortable=""><a href="#" class="dataTable-sorter">Fornecedor</a></th>
                        <th data-sortable="" style="width: 15.886288%;"><a href="#" class="dataTable-sorter">Dt Venda</a></th>
                        <th data-sortable="" style="width: 10.886288%;"><a href="#" class="dataTable-sorter">Qtd</a></th>
                        <th data-sortable="" style="width: 110px;"><a href="#" class="dataTable-sorter">Valor</a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @produto.itensvenda.joins(:venda).select("venda.cod_empresa_transferida", "itemvenda.cod_cor", "itemvenda.quantidade", "itemvenda.valorunitario","itemvenda.cod_venda", "itemvenda.cod_empresa")
                        #.select('vendas.cod_empresa_transferida', 'vendas.cod_venda', 'itensvenda.cod_cor', 'itensvenda.quantidade', 'itensvenda.valorunitario')
                        .where(venda: { cod_empresa_transferida: current_collaborator.cod_empresa, tipo: 'T' })
                        .order(cod_item: :desc)
                        .page(params[:page])
                        .each do |item| %>
                        <!-- aqui você pode exibir os dados do item -->
                        <tr>
                          <td><%= item.cod_empresa_transferida %></td>
                          <td><%= item.cod_cor %></td>
                          <td><%= item.empresa.nome %></td>
                          <td class=""><%= post_date item.venda.datavenda %></td>
                          <td class=""><%= item.quantidade.to_i %></td>
                          <td class=""><%= "R$ #{number_to_currency(item.valorunitario, separator: ",", delimiter: "", unit:"")}" %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="mt-0 mb-3">
                  <div class="d-grid">
                    <div class="col-md-9 col-sm-9  offset-md-3">
                      <div id="setTime"></div
                                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // ---------------------------------

                  document.addEventListener("keypress", function () {
                      console.log("-- "+event.key); // se eu clicar 'p' vai me retornar 'p' ao contrário do keycode que retorna o código da tecla
                      if(event.keyCode == 13){ // 13 é o Enter
                          event.preventDefault();
                      }
                  });

      // ----------------------------------
          // keyPress Enter não faz o submit brands marcas
          var list = document.getElementById('brands');
          //console.log("List "+list)

          list.addEventListener("keypress", function () {
              console.log(event.keyCode); // se eu clicar 'p' vai me retornar 'p' ao contrário do keycode que retorna o código da tecla
              if(event.keyCode == 13){ // 13 é o Enter
                  // event.preventDefault();
                  // quando precionar enter pega o texto da marca e passa como parametro para consulta
                  //list.innerHTML = getBrands("Tra%");

                  //console.log("Valor "+list.innerText);
              }
          });
    </script>