<div class="card mt-4">
  <%= link_to collaborators_backoffice_produtos_path, class:"card-header" do %>
    <h4>Produtos</h4>
  <% end %>
  <div class="card-body" style="" >
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
      <div class="dataTable-top row">
        <%= form_with(url: collaborators_backoffice_search_path, local: true, method: :get, 
                                  class:"dataTable-search col-md-6  ") do |form| %>
          <div class="input-group">
            <%= form.text_field :term, value: params[:term], class:"text dataTable-input", placeholder:"Nome produto...", id:"text" %>
            <button class="btn input-group-text btn-success" id="">Buscar</button>
          </div>
        <% end %>
      </div>
      <div class="dataTable-container" style="min-height: 70vh;">
        <table id="datatablesSimple" class="dataTable-table table-striped table-hover" >
          <thead>
            <tr>
              <th data-sortable="" style="width: 5%;"><a href="#" class="dataTable-sorter">Codigo</a></th>
              <th data-sortable=""><a href="#" class="dataTable-sorter">Nome</a></th>
              <th data-sortable="" style="width: 10.886288%;"><a href="#" class="dataTable-sorter">NCm</a></th>
              <th data-sortable="" style="width: 55px;">
                <%= link_to new_collaborators_backoffice_produto_path(), class:"btn btn-success btn-circle" do %>
                  <i class="fa fa-plus"></i>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @produtos.each do |produto| %>
              <% if (!produto.ativo) %>
                <tr class="" style="background-color: #FA625E;">
                <% else %>
                  <tr >
                  <% end %>
                  <td class="align-middle fw-semibold"><%= produto.cod_produto %> </td>
                  <td class="align-middle fw-semibold" title="Clique para editar" onclick="window.location='<%= edit_collaborators_backoffice_produto_path(produto) %>'" style="cursor: pointer;"><%= produto.nome %> </td>
                  <td class="align-middle fw-semibold"><%= produto.ncm %> </td>
                  <td class="align-middle fw-semibold">
                    <div class="dropdown" >
                      <button type="button" class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false",  style="width: 35px; ">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </button>
                      <ul class="dropdown-menu" style="max-width: 35px;">
                        <li>
                          <%= link_to edit_collaborators_backoffice_produto_path(produto), class:"dropdown-item btn btn-info btn-circle" do %>
                            <i class="fa fa-edit", style="width: 35px;"></i> Editar
                          <% end %>
                        </li>
                        <li>
                          <%= link_to edit_collaborators_backoffice_produto_imagen_path(id: produto.cod_produto), class: "dropdown-item btn btn-info btn-circle", title: "Gerenciar Imagens" do %>
                            <i class="fa fa-images", style="width: 35px;"></i>Add Imagens
                          <% end %>
                        </li>
                        <% if current_collaborator.funcionario.permissao.nivel == 1 %>
                          <li>
                            <%= link_to collaborators_backoffice_produto_path(produto), method: :delete, 
                                            class:"dropdown-item btn btn-danger btn-circle", data: {confirm: "Deseja remover produto?"} do %>
                              <i class="fa fa-trash-can", style="width: 35px;"></i>Excluir
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="dataTable-bottom">
          <div class="dataTable-info"><%= page_entries_info @produtos, entry_name: 'item' %></div>
          <div class = "text-center">
            <%= paginate @produtos %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function rowClick(event, url) {
      // Verifica se o clique foi dentro de um elemento com a classe "no-link"
      if (!event.target.closest(".no-link")) {
        window.location = url;
      }
    }
  </script>