<tr class= "nested-fields">
    <td class="">
        <%= f.text_field :cod_contaspagrec %>
    </td>
    <td class="">
        <%= f.text_field :numeroparcela %>
    </td>
    <td class="">
        <%= f.text_field :dtvencimento %>
    </td>
    <td class="">
        <%= f.text_field :valorparcela %>
    </td>
    <td class="align-middle fw-semibold">
        <%= link_to_remove_association('Remover', f) %>
    </td>
</tr>

