<div class="card mt-3">
  <%= link_to collaborators_backoffice_report_sales_path, class:"card-header bg-primary" do %>
    <h4 >Relatorio Compras</h4>
  <% end %>
  <div class="card-body">
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
      <%= form_with(url: collaborators_backoffice_report_buy_path, local: true, method: :get, 
                              class:"col dataTable-search") do |form| %>
        <div class="d-flex mb-2 col-md-6">
          <div class="col-md-1">
            <%= select_tag :per_page, options_for_select([30, 40, 70, 150, "Todas"], params[:per_page]), onchange: 'this.form.submit()', class: "form-control" %>
          </div>
          <div class="col-md-5">
            <%= form.text_field :term, class:"dataTable-input text", value:params[:term],placeholder:"Pessoa...", id:"text" %>
          </div>
          <div class="col-md-2">
            <%= form.text_field :dataInicial, value: ((!(params[:dataInicial]).blank? ? params[:dataInicial] : Time.current.strftime("01/%m/%Y")  )),
                    class: "fallback dataTable-input datepicker", placeholder:"Data Inicial" %>
          </div>
          <div class="col-md-2">
            <%= form.text_field :dataFinal, value: ((!(params[:dataFinal]).blank? ? params[:dataFinal] : Date.today.end_of_month.strftime("%d/%m/%Y")  )),
                    class: "fallback dataTable-input datepicker", placeholder:"Data Final" %>
          </div>
          <% if current_collaborator.funcionario.permissao.nivel == 1 %>
            <div class="col-md-3 me-1">
              <div class="mb-2">
                <%= form.collection_select(:cod_funcionario, 
                          (Funcionario.select(:cod_funcionario, :usuario).where("cod_funcionario in (select cod_funcionario from funcionarioempresa where ativo = true and cod_empresa = ?) and datademissao is null ", current_collaborator.cod_empresa)), 
                            :cod_funcionario, :usuario, {:include_blank => 'Selecione um colaborador', selected: params[:cod_funcionario]}, 
                            class: "text form-control", readonly: false) %>
              </div>
            </div>
          <% end %>
          <div class="me-4 col-md-1">
            <button type='submit', class="btn btn-success btn-circle">Buscar</button>
          </div>
          <div class="me-3 col-md-3">
            <%= link_to new_collaborators_backoffice_compra_path,
                          class:"btn btn-success btn-circle", data: {confirm: "Nova Compra?"} do %>
              <i class="fa fa-plus"></i>
            <% end %>
          </div>
          <div class="me-1 ms-auto col-md-3 ">
            <div class="form-floating">
              <%= form.text_field :valorPago, class: "text-bg-info form-control ", readonly: true %>
              <%= form.label :total_pago, class:"" %>
            </div>
          </div>
          <div class="ms-auto col-md-3 order-last ">
            <div class="form-floating">
              <%= form.text_field :valortotal, class: "text-bg-success form-control ", readonly: true %>
              <%= form.label :Total_compra, class:"" %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="dataTable-loading sortable searchable fixed-columns">
        <table id="report-buy" class="table table-bordered table-striped table-hover table-sm">
          <thead class="table-primary">
            <tr>
              <th data-sortable="true"  style="width: 10%;">Data Compra</th>
              <%# <th data-sortable="true" style="width: 10%;" >Empresa</th> %>
              <th data-sortable="true">                     Cliente</th>
              <th data-sortable="true" style="width: 7%;">  NrCompra/NFe</th>
              <th data-sortable="true" style="width: 150px;">Colaborador</th>
              <th data-sortable="true" style="width: 150px;">Valor Total</th>
              <th data-sortable="false" style="width: 45px"></th>
            </tr>
          </thead>
          <tbody>
            <% somaVendas = 0; %>
            <% somaRecebida = 0; %>
            <% @buys.each do |buy| %>
              <% if buy.cancelada %>
                <tr class="" style="background-color: #FA625E;">
                <% else %>
                  <tr class="">
                  <% end %>
                  <td class="align-middle"><%= post_date (buy.datacompra? ? buy.datacompra : "") %> </td>
                  <td class="align-middle"><%= buy.pessoa.nome %></td>
                  <td class="align-middle"><%= buy.compra_nfe %> </td>
                  <td class="align-middle">
                    <div class="text-truncate" style="max-width: 150px" ><%= buy.collaborator.usuario %></div>
                  </td>
                  <td class="align-middle"><%= number_to_currency( buy.valortotal, precision: 2, separator: ",", delimiter: "", unit: "")  %></td>
                  <% unless buy.cancelada %>
                    <% somaVendas += buy.valortotal; %>
                    <% somaRecebida += buy.valorPago; %>
                  <% end %>
                  <td class="align-middle">
                    <div class="dropdown" >
                      <button type="button" class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false",  style="width: 35px; ">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </button>
                      <ul class="dropdown-menu" style="width: 50px;">
                        <li>
                          <%= link_to collaborators_backoffice_compra_path(buy.cod_compra), class:"dropdown-item btn btn-info btn-circle" do %>
                            <i class="fa fa-info", style="width: 35px;"></i>Informações
                          <% end %>
                        </li>
                        <li>
                          <%= link_to collaborators_backoffice_contas_pag_rec_index_path(cod_compra: buy.cod_compra), class:"dropdown-item btn btn-info btn-circle" do %>
                            <i class="far fa-money-bill-alt", style="width: 35px;"></i> Financeiro
                          <% end %>
                        </li>
                        <% if current_collaborator.funcionario.permissao.nivel == 1 %>
                          <span class="visually-hidden">Toggle Dropdown</span>
                          <li>
                            <%= link_to collaborators_backoffice_compra_path(buy), method: :delete, class: "dropdown-item btn btn-danger btn-circle", 
                                      data: { confirm: "Deseja remover a Compra?" } do %>
                              <i class="fa fa-trash-can",  style="width: 35px;"></i>Apagar
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if @buys.respond_to?(:total_pages) %>
            <div class="dataTable-bottom">
              <div class="dataTable-info"><%= page_entries_info @buys, entry_name: 'item' %></div>
              <div class = "text-center">
                <%= paginate @buys %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="dataTable-bottom">
            <div class="dataTable-info">
              <h5>Exibindo <%= @buys.size %> registros</h5>
            </div>
            <div class = "text-center">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <script>
    function formatarReal(valor) {
      return valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
    }
      // Atualizar o conteúdo do elemento com ID "valortotal" com a soma formatada como reais
      document.getElementById("valortotal").value = formatarReal(<%= somaVendas %>);
      document.getElementById("valorPago").value = formatarReal(<%= somaRecebida %>);

      document.addEventListener('DOMContentLoaded', function() {
        $('#report-buy').DataTable({
          "paging": false,  // Desabilita a paginação
          "searching": false, // Permite a pesquisa na tabela (opcional)
          "ordering": true,  // Habilita ordenação nas colunas (opcional)
          "info": false}); // Habilita ordenação nas colunas (opcional)
      });
  </script>