<div class="card mt-3">
  <div class="card-header bg-primary d-flex align-items-center">
    <%= link_to collaborators_backoffice_report_buy_path do %>
      <h4 class="text-white mb-0">Relatorio Compras</h4>
    <% end %>
    <div class="ms-auto">
      <%= link_to new_collaborators_backoffice_compra_path, class: "btn btn-light" do %>
        <i class="fa fa-plus"></i> Nova
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div class="">
      <%= form_with(url: collaborators_backoffice_report_buy_path, local: true, method: :get, class:"mb-3") do |form| %>
        <div class="container-fluid">
          <div class="row g-1 align-items-center">
            <div class="col-auto" style="max-width: 80px;">
              <%= select_tag :per_page, options_for_select([30, 40, 70, 150, "Todas"], params[:per_page]), onchange: 'this.form.submit()', class: "form-select form-select-md" %>
            </div>
            <div class="col-auto">
              <%= form.text_field :term, class:"form-control form-control-md", value: params[:term], placeholder:"Pessoa..." %>
            </div>
            <div class="col-auto">
              <%= form.text_field :dataInicial, 
              value: params[:dataInicial].presence || Time.current.strftime("01/%m/%Y"), 
              class: "form-control form-control-md datepicker fallback", style:"width: 115px;", 
              placeholder:"Data Inicial" %>
            </div>
            <div class="col-auto">
              <%= form.text_field :dataFinal, 
              value: params[:dataFinal].presence || Date.today.end_of_month.strftime("%d/%m/%Y"), 
              class: "form-control form-control-md datepicker fallback", style:"width: 115px;", 
              placeholder:"Data Final" %>
            </div>
            <% if current_collaborator.funcionario.permissao.nivel == 1 %>
              <div class="col-auto">
                <%= form.collection_select(:cod_funcionario, 
                Funcionario.select(:cod_funcionario, :usuario)
                           .where("cod_funcionario in (select cod_funcionario from funcionarioempresa where ativo = true and cod_empresa = ?) and datademissao is null", current_collaborator.cod_empresa), 
                :cod_funcionario, :usuario, 
                { include_blank: 'Selecione um colaborador', selected: params[:cod_funcionario] }, 
                class: "form-select form-select-md") %>
              </div>
            <% end %>
            <div class="col-auto d-grid" style="width: 130px;">
              <button type="submit" class="btn btn-success btn-md">Buscar</button>
            </div>
            <div class="col-auto ms-auto d-flex gap-2">
              <div class="form-floating">
                <%= form.text_field :valorPago, class: "form-control form-control-sm text-bg-info", readonly: true, id: "valorPago", style: "min-width: 120px;" %>
                <%= form.label :valorPago, "Total Pago" %>
              </div>
              <div class="form-floating">
                <%= form.text_field :valortotal, class: "form-control form-control-sm text-bg-success", readonly: true, id: "valortotal", style: "min-width: 120px;" %>
                <%= form.label :valortotal, "Total Compra" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="dataTable-loading sortable searchable fixed-columns">
        <table id="report-buy" class="table table-striped table-hover table-bordered table-sm">
          <thead class="table-primary">
            <tr>
              <th data-sortable="true"  style="width: 10%;">Data Compra</th>
              <th data-sortable="true">                     Cliente</th>
              <th data-sortable="true" style="width: 7%;">  NrCompra/NFe</th>
              <th data-sortable="true" style="width: 150px;">Colaborador</th>
              <th data-sortable="true" style="width: 150px;">Valor Total</th>
              <th data-sortable="false" style="width: 45px"></th>
            </tr>
          </thead>
          <tbody>
            <% somaVendas = 0; %>
            <% somaRecebida = 0; %>
            <% @buys.each do |buy| %>
              <% if buy.cancelada %>
                <tr class="" style="background-color: #FA625E;">
                <% else %>
                  <tr class="">
                  <% end %>
                  <td class="align-middle"><%= post_date (buy.datacompra? ? buy.datacompra : "") %> </td>
                  <td class="align-middle"><%= buy.pessoa.nome %></td>
                  <td class="align-middle"><%= buy.compra_nfe %> </td>
                  <td class="align-middle">
                    <div class="text-truncate" style="max-width: 150px" ><%= buy.collaborator.usuario %></div>
                  </td>
                  <td class="align-middle"><%= number_to_currency( buy.valortotal, precision: 2, separator: ",", delimiter: "", unit: "")  %></td>
                  <% unless buy.cancelada %>
                    <% somaVendas += buy.valortotal; %>
                    <% somaRecebida += buy.valorPago; %>
                  <% end %>
                  <td class="align-middle">
                    <div class="dropdown" >
                      <button type="button" class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false",  style="width: 35px; ">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                      </button>
                      <ul class="dropdown-menu" style="width: 50px;">
                        <li>
                          <%= link_to collaborators_backoffice_compra_path(buy.cod_compra), class:"dropdown-item btn btn-info btn-circle" do %>
                            <i class="fa fa-info", style="width: 35px;"></i>Informações
                          <% end %>
                        </li>
                        <li>
                          <%= link_to collaborators_backoffice_contas_pag_rec_index_path(cod_compra: buy.cod_compra), class:"dropdown-item btn btn-info btn-circle" do %>
                            <i class="far fa-money-bill-alt", style="width: 35px;"></i> Financeiro
                          <% end %>
                        </li>
                        <% if [1, 2].include?(current_collaborator.funcionario.permissao.nivel) %>
                          <span class="visually-hidden">Toggle Dropdown</span>
                          <li>
                            <%= link_to collaborators_backoffice_compra_path(buy, term: params[:term], dataInicial: params[:dataInicial], dataFinal: params[:dataFinal], cod_funcionario: params[:cod_funcionario], per_page: params[:per_page]), method: :delete, class: "dropdown-item btn btn-danger btn-circle", 
                                      data: { confirm: "Deseja remover a Compra?" } do %>
                              <i class="fa fa-trash-can",  style="width: 35px;"></i>Apagar
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if @buys.respond_to?(:total_pages) %>
            <div class="dataTable-bottom">
              <div class="dataTable-info"><%= page_entries_info @buys, entry_name: 'item' %></div>
              <div class = "text-center">
                <%= paginate @buys %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="dataTable-bottom">
            <div class="dataTable-info">
              <h5>Exibindo <%= @buys.size %> registros</h5>
            </div>
            <div class = "text-center">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <script>
    function formatarReal(valor) {
      return valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
    }
      // Atualizar o conteúdo do elemento com ID "valortotal" com a soma formatada como reais
      document.getElementById("valortotal").value = formatarReal(<%= somaVendas %>);
      document.getElementById("valorPago").value = formatarReal(<%= somaRecebida %>);

      document.addEventListener('DOMContentLoaded', function() {
        $('#report-buy').DataTable({
          "paging": false,  // Desabilita a paginação
          "searching": false, // Permite a pesquisa na tabela (opcional)
          "ordering": true,  // Habilita ordenação nas colunas (opcional)
          "info": false}); // Habilita ordenação nas colunas (opcional)
      });
  </script>