<div class="card mt-3">
  <div class="card-header bg-primary d-flex align-items-center">
    <%= link_to collaborators_backoffice_report_rep_dre_index_path do %>
      <h4 class="text-white mb-0">DRE - Demonstrativo de Resultados</h4>
    <% end %>
  </div>
  <div class="card-body">
    <%= form_with(url: collaborators_backoffice_report_rep_dre_index_path, local: true, method: :get, class: "row g-2 mb-3 align-items-end") do |form| %>
      <div class="col-auto">
        <label class="form-label">Data Inicial</label>
        <%= form.text_field :dataInicial, 
        value: (params[:dataInicial].present? ? params[:dataInicial] : Time.current.strftime("01/%m/%Y")),
        class: "form-control datepicker", style: "max-width: 115px;",
        placeholder: "Data Inicial" %>
      </div>
      <div class="col-auto">
        <label class="form-label">Data Final</label>
        <%= form.text_field :dataFinal, 
        value: (params[:dataFinal].present? ? params[:dataFinal] : Date.today.end_of_month.strftime("%d/%m/%Y")),
        class: "form-control datepicker", style: "max-width: 115px;",
        placeholder: "Data Final" %>
      </div>
      <div class="col-12 col-md-auto mt-2">
        <%= form.submit "Buscar", class: "btn btn-success w-100" %>
      </div>
    <% end %>
    <%# form  acima %>
    <% total_geral = 0 %>
    <% custo_total = 0 %>
    <% operaciona_geral = 0 %>
    <% @vendas.each do |mes| %>
      <% puts "\n" %>
      <% puts "mes = #{@vendas.inspect }" %>
      <% puts "\n" %>
      <% total_geral += mes.total.to_f %>
      <% custo_total += mes.custo_total.to_f %>
      <% mes_formatado = mes.mes %>
      <% lucro_bruto = (mes.total.to_f - mes.custo_total) %>
      <table class="table table-bordered ">
        <tr>
          <th>Receita Bruta - <%= Date.new(2025, mes.mes.to_i).strftime("%B") %></th>
          <td><%= number_to_currency((mes.total), unit: "R$ ", format: "%u%n") %></td>
        </tr>
        <tr>
          <th>Custo dos Produtos Vendidos</th>
          <td><%= number_to_currency(mes.custo_total, unit: "R$ ", format: "%u%n") %></td>
        </tr>
        <tr>
          <th>Lucro Bruto</th>
          <td><strong><%= number_to_currency(lucro_bruto, unit: "R$ ", format: "%u%n") %></strong></td>
        </tr>
      </table>
      <% lancamentos_do_mes = @lancamentos.select { |l| l[0]. != mes.mes } %>
      <% if lancamentos_do_mes.any? %>
        <h5>Outras Receitas e Despesas</h5>
        <table class="table table-sm table-striped table-bordered">
          <thead>
            <tr>
              <th>Histórico</th>
              <th>Tipo</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <% total_outros = 0 %>
            <% total_entradas = 0 %>
            <% total_saidas = 0 %>
            <% lancamentos_do_mes.each do |lc| %>
              <% if lc.mes.to_i == mes.mes.to_i%>
                <% total ||= 0 %>
                <% total_outros += (lc.tipo == 'E' ? lc.total : -lc.total) %>
                <% total_entradas += (lc.tipo == 'E' ? lc.total : 0) %>
                <% total_saidas += (lc.tipo == 'S' ? lc.total : 0) %>
                <tr>
                  <td><%= lc.descricao %></td>
                  <td><%= lc.tipo == 'E' ? 'Receita' : 'Despesa' %></td>
                  <td><%= number_to_currency(lc.total, unit: "R$ ", format: "%u%n") %></td>
                </tr>
              <% end %>
            <% end %>
            <% operaciona_geral += (total_entradas - total_saidas) %>
            <tr class="table-secondary">
              <th colspan="2">Entradas</th>
              <th><%= number_to_currency( total_entradas, unit: "R$ ", format: "%u%n") %></th>
            </tr>
            <tr class="table-secondary">
              <th colspan="2">Saidas</th>
              <th><%= number_to_currency( total_saidas, unit: "R$ ", format: "%u%n") %></th>
            </tr>
            <tr class="table-secondary">
              <th colspan="2">Resultado Operacional</th>
              <th><%= number_to_currency( total_outros, unit: "R$ ", format: "%u%n") %></th>
            </tr>
          </tbody>
        </table>
      <% else %>
        <p class="text-muted">Sem outras receitas ou despesas neste mês.</p>
      <% end %>
      <% if mes == @vendas.last && mes != @vendas.first %>
        <h5>Resultado Final</h5>
        <table class="table table-bordered ">
          <tr>
            <th>Receita Bruta Total</th>
            <td><%= number_to_currency(total_geral, unit: "R$ ", format: "%u%n") %></td>
          </tr>
          <tr>
            <th>Custo dos Produtos Vendidos</th>
            <td><%= number_to_currency(custo_total, unit: "R$ ", format: "%u%n") %></td>
          </tr>
          <tr>
            <th>Lucro Bruto</th>
            <td><strong><%= number_to_currency((total_geral - custo_total), unit: "R$ ", format: "%u%n") %></strong></td>
          </tr>
          <tr>
            <th>Operacional Total</th>
            <td><strong><%= number_to_currency((operaciona_geral), unit: "R$ ", format: "%u%n") %></strong></td>
          </tr>
        </table>
      <% end %>
    <% end %>
  </div>
</div>