<!DOCTYPE html>
<html>
  <head>
    <title>MRStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    
    <%= favicon_link_tag 'mrosa.png' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.4.min.js', integrity: 'sha384-oT/Jyewd+NxCAzRrH/nIdN0xLv4nTdyZnS4ZoZn4R5lnN1zo3wZvL+QKcmEjxOKv', crossorigin: 'anonymous' %>
  </head>

  <body class="bg-black">
    <br>
    <%= yield %>
  </body>
    
    <%= javascript_include_tag 'application'%>
</html>
