<!DOCTYPE html>
<html>
  <head>
    <title>MRStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application'%>
    <%= favicon_link_tag 'images/mrosa.png' %>
  </head>

  <body class="bg-black">
  <br>
  <br>
    <%= yield %>
  </body>
</html>
