<!DOCTYPE html>
<html>
  <head>
    <title>MRStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- jQuery UI CSS PRIMEIRO -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- Depois o CSS do sistema -->
    <%= stylesheet_link_tag 'application' %>
    <%= favicon_link_tag 'mrosa.png' %>
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  </head>
  <body class="bg-black" autocomplete="off">
    <%= yield %>
    <%= javascript_include_tag 'application' %> <!-- Incluindo outros scripts do seu projeto -->
  </body>
</html>