<!DOCTYPE html>
<html>
  <head>
    <title>Moveis Rosa Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <header style="text-align: center;">
      <%= image_tag "logo_marca.png", style: "max-width: 15%; height: auto;" %>
    </header>
    <nav>
      <ul style="display: flex; justify-content: center; gap: 1rem; list-style: none;">
        <li><a href="#produtos">Produtos</a></li>
        <li><a href="#apresentacao">Apresentação</a></li>
        <li><a href="#colaboradores">Colaboradores</a></li>
        <li><a href="#parceiros">Parceiros</a></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p style="text-align: center;">&copy; <%= Date.current.year %> Moveis Rosa Store Toledo</p>
    </footer>
  </body>
</html>
