<tr class= "nested-fields">
  <td class="">
    <%= f.text_field :numeroparcela, class: "form-control border-top-0 border-start-0 border-end-0 border-dark", readonly: true %>
  </td>
  <td class="col-auto">
    <%= f.collection_select(:cod_tppagamento, Tiposhistoricoscaixa.where(ativo: :true).order(:cod_tphitorico), :cod_tphitorico, :descricao,
                { selected: params[:cod_tppagamento] || 2 }, # 2 parcela de compra
                    class: "form-control border-top-0 border-start-0 border-end-0 border-dark") %>
  </td>
  <td class="">
    <%= f.text_field :dtvencimento, class: "fallback datepicker form-control border-top-0 border-start-0 border-end-0 border-dark" %>
  </td>
  <td class="">
    <%= f.text_field :valorparcela, value: number_to_currency(f.object.valorparcela,  unit: "", separator: ",", delimiter: ""), class: "money2 form-control border-top-0 border-start-0 border-end-0 border-dark" %>
  </td>
  <%= f.hidden_field :cod_empresa, value: params[:cod_empresa] || current_collaborator.empresa.cod_empresa %>
  <%= f.hidden_field :ativo,  value: params[:ativo] || true %>
  <%= f.hidden_field :quitada,  value: params[:quitada] || false %>
  <td class="align-middle fw-semibold">
    <%= link_to_remove_association f, class: 'btn btn-primary btn-xs', title: 'Remover' do %>
      <i class="fa fa-trash-can"></i>
    <% end %>
  </td>
</tr>
<script>
  $(document).ready(function() {
    // Enumerar parcelas existentes na inicialização
    $('.contas .nested-fields').each(function(index) {
      $(this).find('input[name*="numeroparcela"]').val(index + 1);
    });
    // Inicializa datepickers e fallback existentes
    $(".datepicker").datepicker({ dateFormat: "dd/mm/yy" });
    $(".fallback").mask("99/99/9999");
    $(".money2").mask("000000000,00", {reverse: true})

    $(document).on('mouseup', '.money2, .quantidade', function() {
      $(this).select();
    });
    // Para novos campos adicionados pelo Cocoon
    $(document).on('cocoon:after-insert', function(e, insertedItem) {
      setTimeout(function() {
        $(insertedItem).find('.datepicker').datepicker({ dateFormat: "dd/mm/yy" });
        $(insertedItem).find('.fallback').mask("99/99/9999");
        $(insertedItem).find('.money2').mask("000000000,00", {reverse: true});

        // Enumerar numeroparcela automaticamente
        var parcelaCount = $('.contas .nested-fields').length;
        $(insertedItem).find('input[name*="numeroparcela"]').val(parcelaCount);
      }, 100);
    });
  });
</script>
